.browserslistrc
.eslintrc
.eslintignore
.gitignore
.prettierrc
angular.json
e2e
karma.conf.js
package-lock.json
package.json
projects
src
helper
font_resources
tsconfig.json
tsconfig.app.json
tsconfig-helper.json
tsconfig.spec.json
tsconfig.worker.json
webpack.config.js
.angular
.github
