<div class="resourceload-dialog">
    <mat-toolbar style="background-color: transparent;">
        <span class="dialog-icon"><mat-icon>category</mat-icon></span>
        <span style="flex: 1 1 auto;text-align:center;">Load Resource</span>
        <span style="text-align:right;">
            <button mat-icon-button (click)="this.dialogRef.close();">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </mat-toolbar>    

    <div class="dialog-content">
        <div class="card-group" *ngIf="!display.notValid">
            <div class="card-group-title">
                <div style="display:flex;flex-wrap:wrap;">
                    <div style="flex: 1 1 auto; line-height:2.5em; font-weight: bold; text-align:center;">
                        Destination:
                    </div>
                    <div>
                        <mat-form-field style="width:100%;">
                            <mat-select #respaths id="respaths"
                                    [disabled]="!resPaths"
                                    [(value)]="targetPath"
                                    [placeholder]="'Select Destination Path'">
                                <mat-option *ngFor="let i of resPaths" [value]="i">{{i}}</mat-option>
                            </mat-select>                                        
                        </mat-form-field>           
                    </div>   
                </div>         
            </div>

            <div *ngIf="!source.name">
                <ap-file-input [astext]="true" (chosen)="parseFile($event)">
                    <div style="width:200px; padding: 0 25%">
                        <div style="padding:25%; border: gray 1px dashed;">
                            Click or Drop file
                        </div>
                    </div>                       
                </ap-file-input>
            </div>

            <div *ngIf="display.notValid" class="error">
                <div>
                    <b>Invalid Resource Data:</b><br><br>
                    <i>Selected file does not contain valid data.
                    </i><br>
                </div>
                <div style="width:100%;text-align: center;">
                    <button mat-raised-button color="accent"
                        (click)="app.showHelp('resource')">
                        <mat-icon>help</mat-icon>
                        Help
                    </button>
                </div>
            </div>                

            <div class="">
                <div style="display:flex;flex-wrap:wrap;">
                    <div style="flex: 1 1 auto; padding:5px;font-size: smaller;">
                        <div><span style="font-weight: bold;">Name:</span> {{source.name}}</div>
                        <div><span style="font-weight: bold;">Type:</span> 
                            {{source.type}}
                        </div> 
                    </div>
                </div>
                <div style="text-align: center;padding-top:15px;">
                    <button mat-raised-button [disabled]="!targetPath || !source.name"
                        color="primary"
                        matTooltip="Load features" matTooltipPosition="below"
                        (click)="load()">
                            <mat-icon>file_upload</mat-icon>
                            &nbsp;Load&nbsp;
                    </button>
                    <br>&nbsp;
                    <div *ngIf="targetPath && source.name"
                    style="padding:10px; border: gray 1px dashed;font-style: italic;">
                    Note: Data will not be validated when uploaded to server!
                </div>                      
                </div>      

            </div>            
        </div>

       

    </div>

</div>

