<div class="resourcelist">
  <mat-card>
    <mat-card-title>
      <div class="title-block">
        <div style="flex: 1 1 auto; padding-top: 7px">Waypoints:</div>
        <div style="width: 50px">
          <button
            mat-icon-button
            (click)="close()"
            matTooltip="Close Waypoint List"
            matTooltipPosition="left"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div style="display: flex">
        <div style="flex: 1 1 auto; padding-left: 3px">
          <mat-form-field floatLabel="always" style="width: 180px">
            <mat-label>Type to filter list</mat-label>
            <input
              #ftext
              type="text"
              matInput
              [value]="filterText"
              (keyup)="filterKeyUp(ftext.value)"
            />
            @if(filterText) {
            <button matSuffix mat-icon-button (click)="filterKeyUp('')">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
        </div>
        <div>
          <button
            mat-icon-button
            [disabled]="disableRefresh"
            (click)="itemRefresh()"
            matTooltip="Reload Waypoints"
            matTooltipPosition="left"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div>
          <mat-checkbox
            #selall
            [disabled]="waypoints.length === 0 || disableRefresh"
            [checked]="allSel"
            [indeterminate]="someSel"
            (change)="selectAll($event.checked)"
            [matTooltip]="(!selall.checked || someSel) ? 'Select All' : 'Deselect All'"
            matTooltipPosition="right"
          >
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="resources">
    @if(waypoints.length === 0) {
    <div style="text-align: center"><br /><i>No Waypoints available.</i></div>
    }
    <cdk-virtual-scroll-viewport class="vscroller" itemSize="90">
      <mat-card
        *cdkVirtualFor="let r of filterList; let i= index;"
        style="border-bottom: silver 1px outset; border-radius: unset"
      >
        <mat-card-content>
          <div style="display: flex; padding-left: 5px">
            <div style="flex: 1 1 auto; width: 215px">
              <div
                style="
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                <mat-icon [ngClass]="{'icon-warn': r[1].type=='pseudoAtoN'}">
                  room
                </mat-icon>
                <b>{{(r[1].name) ? r[1].name : 'Wpt-' + r[0].slice(-6)}}</b>
              </div>
            </div>
            <div style="text-align: right">
              <mat-checkbox
                [disabled]="r[0] === activeWaypoint || disableRefresh"
                [checked]="r[2]"
                (change)="itemSelect($event.checked, r[0])"
                matTooltip="Show on Map"
                matTooltipPosition="left"
              >
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div style="display: flex">
            <div>
              <button
                mat-icon-button
                [disabled]="r[0] === activeWaypoint || disableRefresh"
                (click)="itemDelete(r[0])"
                matTooltip="Delete Waypoint"
                matTooltipPosition="right"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <button
              mat-icon-button
              (click)="itemViewNotes(r[0])"
              matTooltip="Waypoint notes"
              matTooltipPosition="right"
            >
              <mat-icon>local_offer</mat-icon>
            </button>
            <div style="flex: 1 1 auto; text-align: center">
              @if(!activeWaypoint || activeWaypoint !== r[0]) {
              <button
                mat-icon-button
                [disabled]="disableRefresh"
                (click)="itemGoTo(r[0])"
                matTooltip="Navigate to Waypoint"
                matTooltipPosition="below"
              >
                <mat-icon>near_me</mat-icon>
              </button>
              } @if(activeWaypoint === r[0]) {
              <button
                mat-icon-button
                [disabled]="disableRefresh"
                (click)="itemClearActive()"
                matTooltip="Clear Destination"
                matTooltipPosition="right"
              >
                <mat-icon>clear_all</mat-icon>
              </button>
              }
            </div>
            <div>
              <button
                mat-icon-button
                [disabled]="app.config.map.moveMap"
                (click)="emitCenter(r[1].feature.geometry.coordinates)"
                matTooltip="Center Waypoint"
                matTooltipPosition="left"
              >
                <mat-icon>center_focus_strong</mat-icon>
              </button>
              <button
                mat-icon-button
                [disabled]="disableRefresh"
                (click)="itemProperties(r[0])"
                matTooltip="Edit Waypoint Properties"
                matTooltipPosition="right"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
