<div style="position: relative; width: 100%;">

    <mat-menu #settingsMenu="matMenu">
        <a mat-menu-item href="#sectDisplay">Display</a>
        <a mat-menu-item href="#sectunits">Units & Values</a>
        <a mat-menu-item href="#sectVessels">Vessels</a>
        <a mat-menu-item href="#sectNotes">Notes</a>
    </mat-menu>

    <mat-toolbar style="background-color: transparent;">
        <span>
            <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
                <mat-icon>menu</mat-icon>
            </button> 
        </span>
        <span style="flex: 1 1 auto;text-align:center;">Settings</span>
        <span style="text-align:right;">
            <button mat-icon-button (click)="this.dialogRef.close();">
                <mat-icon>close</mat-icon>
            </button>           
        </span>
    </mat-toolbar>

    <div class="theme-page settings">

        <div class="theme-panel">
            <div>
                <div class="setting-group" id="sectDisplay">
                    <div class="setting-group-title">DISPLAY</div>
                    <mat-card class="setting-card">
                        <div class="setting-card-row" *ngIf="appList.length>1">
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #instruments 
                                            [(value)]="app.config.plugins.instruments" 
                                            (selectionChange)="onFormChange($event, instruments)"
                                            placeholder="Select Instruments App">
                                        <mat-option *ngFor="let i of appList" 
                                                [value]="i.url"
                                                [matTooltip]="i.description"
                                                matTooltipPosition="right">
                                            {{i.name}}
                                        </mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div> 
                        </div>                
                        <div class="setting-card-row" style="padding-bottom: 10px;">
                            <div class="setting-card-row-item">
                                <mat-checkbox #depthalarm color="primary"
                                    [(ngModel)]="app.config.depthAlarm.enabled" 
                                    (change)="onFormChange($event, depthalarm)"
                                    label="after">
                                    Show DEPTH Alarms
                                </mat-checkbox>                                        
                            </div>                          
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #depthsmoothing 
                                            matTooltip="Period of time out of alarm state before re-triggering."
                                            [disabled]="!app.config.depthAlarm.enabled"
                                            [(value)]="app.config.depthAlarm.smoothing" 
                                            (selectionChange)="onFormChange($event, depthsmoothing)"
                                            placeholder="Alarm Smoothing Time">
                                        <mat-option *ngFor="let i of smoothing" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div> 
                            <br>
                            <div class="setting-card-row-item">
                                <mat-checkbox #vesseltrail color="primary"
                                    [(ngModel)]="app.config.vesselTrail" 
                                    (change)="onFormChange($event, vesseltrail)"
                                    label="after">
                                    Display Vessel Trail
                                </mat-checkbox>                                        
                            </div>
                        </div>                             
                    </mat-card>
                </div>                  

                <div class="setting-group" id="sectunits">
                    <div class="setting-group-title">UNITS &amp; VALUES</div>
                    <mat-card class="setting-card">
                        <div class="setting-card-row" style="padding-bottom: 10px;">
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #distunits 
                                            [(value)]="app.config.units.distance" 
                                            (selectionChange)="onFormChange($event, distunits)"
                                            placeholder="Distance units">
                                        <mat-option *ngFor="let i of distanceUnits" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>          

                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #depthunits 
                                            [(value)]="app.config.units.depth" 
                                            (selectionChange)="onFormChange($event, depthunits)"
                                            placeholder="Depth units">
                                        <mat-option *ngFor="let i of depthUnits" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>                                             

                            <div class="setting-card-row-item" *ngIf="headingValue.length!=0">
                                <mat-form-field style="width:100%;">
                                    <mat-select #headingattrib 
                                            [(value)]="app.config.selections.headingAttribute" 
                                            (selectionChange)="onFormChange($event, headingattrib)"
                                            placeholder="Use True / Magnetic Values">
                                        <mat-option *ngFor="let i of headingValue" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div> 
                        </div>
                    </mat-card>
                </div>

                <div class="setting-group" id="sectVessels">
                    <div class="setting-group-title">OTHER VESSELS</div>
                    <mat-card class="setting-card">
                        <div class="setting-card-row" style="padding-bottom: 10px;">                            
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #aiswindvector
                                            [(value)]="app.config.selections.aisWindApparent" 
                                            (selectionChange)="onFormChange($event, aiswindvector)"
                                            placeholder="Wind Vector Value">
                                        <mat-option *ngFor="let i of aisWindVector" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div> 

                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #aiswindminzoom
                                            [(value)]="app.config.selections.aisWindMinZoom" 
                                            (selectionChange)="onFormChange($event, aiswindminzoom)"
                                            placeholder="Wind Vector Zoom Level">
                                        <mat-option *ngFor="let i of minZoomList" [value]="i">{{i}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>                             

                        </div> 
                    </mat-card>
                </div>
            
                <div class="setting-group" id="sectNotes">
                    <div class="setting-group-title">RESOURCES: NOTES</div>
                    <mat-card class="setting-card">
                        <div class="setting-card-row">
                            <div class="setting-card-row-item">
                                <mat-checkbox #shownotes color="primary"
                                    [(ngModel)]="app.config.notes" 
                                    (change)="onFormChange($event, shownotes)"
                                    label="after">
                                    Display Notes on Map
                                </mat-checkbox>                                        
                            </div>                            
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #notesminzoom
                                            [disabled]="!app.config.notes"
                                            [(value)]="app.config.selections.notesMinZoom" 
                                            (selectionChange)="onFormChange($event, notesminzoom)"
                                            placeholder="Notes Zoom Level">
                                        <mat-option *ngFor="let i of minZoomList" [value]="i">{{i}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>                                                      
                        </div>
                        <div class="setting-card-row">                         
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #notesgetradius
                                            [disabled]="!app.config.notes"
                                            [(value)]="app.config.resources.notes.getRadius" 
                                            (selectionChange)="onFormChange($event, notesgetradius)"
                                            placeholder="Fetch Notes radius:">
                                        <mat-option *ngFor="let i of resRadiusList" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>                                                      
                        </div>                        
                        <div class="setting-card-row">
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;" floatLabel="always">
                                    <mat-label>Notes fetch filter:</mat-label>
                                    <input matInput type="text" #notesrootfilter
                                        [(ngModel)]="app.config.resources.notes.rootFilter" 
                                        (change)="onFormChange($event, notesrootfilter)"
                                        placeholder="?dist=10"
                                        matTooltip="Filter to apply when retrieving notes"/>   
                                        <button mat-button *ngIf="notesrootfilter.value"
                                                matSuffix mat-icon-button 
                                                (click)="notesrootfilter.value=''">
                                            <mat-icon>close</mat-icon>
                                        </button>                                                                           
                                </mat-form-field>                            
                            </div>    
                        </div>    
                        <!--<div class="setting-card-row">
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;" floatLabel="always">
                                    <mat-label>External Add url:</mat-label>
                                    <input matInput type="text" #notesextadd
                                        [(ngModel)]="app.config.resources.notes.extAdd" 
                                        (change)="onFormChange($event, notesextadd)"
                                        placeholder="/path"
                                        matTooltip="url for adding note"/>   
                                        <button mat-button *ngIf="notesextadd.value"
                                                matSuffix mat-icon-button 
                                                (click)="notesextadd.value=''">
                                            <mat-icon>close</mat-icon>
                                        </button>                                                                           
                                </mat-form-field>                            
                            </div>    
                        </div> 
                        <div class="setting-card-row">
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;" floatLabel="always">
                                    <mat-label>External Edit url:</mat-label>
                                    <input matInput type="text" #notesextedit
                                        [(ngModel)]="app.config.resources.notes.extEdit" 
                                        (change)="onFormChange($event, notesextedit)"
                                        placeholder="/path"
                                        matTooltip="url for editing note"/>   
                                        <button mat-button *ngIf="notesextedit.value"
                                                matSuffix mat-icon-button 
                                                (click)="notesextedit.value=''">
                                            <mat-icon>close</mat-icon>
                                        </button>                                                                           
                                </mat-form-field>                            
                            </div>    
                        </div> -->                                                               
                    </mat-card>
                </div>
            
            </div>
        </div>
        
    </div>

</div>
    