<ol-map
  [style.cursor]="draw.enabled || measure.enabled ? 'crosshair' : 'initial'"
  [logo]="false"
  [olInteractions]="fbMap.interactions"
  [olControls]="fbMap.controls"
  [setFocus]="fbMap.focus"
  (mapSingleClick)="onMapMouseClick($event)"
  (mapRightClick)="onMapMouseRightClick($event)"
  (mapMoveEnd)="onMapMove($event)"
  (mapPointerMove)="onMapPointerMove($event)"
  (mapPointerDrag)="onMapPointerDrag()"
  (contextmenu)="onContextMenu($event)"
  olView
  [zoom]="fbMap.zoomLevel"
  [center]="fbMap.center"
  [rotation]="fbMap.rotation"
  [minZoom]="app.MAP_ZOOM_EXTENT.min"
  [maxZoom]="app.MAP_ZOOM_EXTENT.max"
  [enableAnimation]="false"
>
  <!-- Draw / modify -->
  @if(measure.enabled) {
  <ol-draw
    [type]="'LineString'"
    (drawStart)="onMeasureStart($event)"
    (drawEnd)="onMeasureEnd()"
    [style]="measure.style"
    [stopClick]="false"
  >
  </ol-draw>
  } @if(draw.enabled) {
  <ol-draw
    [type]="draw.type"
    [stopClick]="draw.mode === 'route' ? false : true"
    [style]="draw.style"
    (drawEnd)="onDrawEnd($event)"
  >
  </ol-draw>
  } @if(draw.modify && draw.features) {
  <ol-modify
    [features]="draw.features"
    (modifyStart)="onModifyStart($event)"
    (modifyEnd)="onModifyEnd($event)"
  >
  </ol-modify>
  }

  <!-- Zoom control -->
  <ol-control>
    <ol-content>
      <div class="ol-zoom">
        <button
          class="button-accent"
          mat-mini-fab
          (click)="zoomMap(false)"
          [disabled]="fbMap.zoomLevel <= app.MAP_ZOOM_EXTENT.min"
          matTooltip="Zoom out"
        >
          <mat-icon>remove</mat-icon>
        </button>
        &nbsp;
        <button
          class="button-accent"
          mat-mini-fab
          (click)="zoomMap(true)"
          [disabled]="fbMap.zoomLevel >= app.MAP_ZOOM_EXTENT.max"
          matTooltip="Zoom in"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ol-content>
  </ol-control>

  <!-- Cursor position control -->
  <ol-control>
    <ol-content>
      <div class="ol-mouse-position">
        <span
          style="
            background-color: rgba(250, 250, 250, 0.7);
            padding: 0 5px 0 5px;
          "
        >
          @if(app.config.selections.positionFormat === 'XY') {
          <span>Lat:&nbsp;</span>
          }
          <span
            [innerText]="
              mouse.coords[1]
                | coords : app.config.selections.positionFormat : true
            "
          ></span>
          &nbsp; @if(app.config.selections.positionFormat === 'XY') {
          <span>Lon:&nbsp;</span>
          }

          <span
            [innerText]="
              mouse.coords[0] | coords : app.config.selections.positionFormat
            "
          ></span>
          &nbsp;
          <span [innerText]="'Zm: ' + fbMap.zoomLevel.toFixed(1)"></span>
        </span>
      </div>
    </ol-content>
  </ol-control>

  <!-- Charts -->
  <fb-charts [zIndex]="10" [charts]="dfeat.charts"> </fb-charts>

  <!-- Tracks -->
  @if(app.config.resources.paths.includes('tracks')) {
  <fb-tracks
    [darkMode]="app.config.map.invertColor"
    [tracks]="dfeat.tracks"
    [labelMinZoom]="0"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="50"
  >
  </fb-tracks>
  }

  <!-- AIS target tracks -->
  @if(app.config.aisTargets) {
  <sk-target-tracks
    [tracks]="app.data.vessels.aisTracks"
    [updateIds]="aisMgr.updateList"
    [removeIds]="aisMgr.removeList"
    [showTracks]="app.config.selections.aisShowTrack"
    [minZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    zIndex="51"
  >
  </sk-target-tracks>
  }

  <!-- Resource Sets -->
  <div *ngFor="let resSet of app.data.resourceSets | keyvalue; let idx = index">
    @if(resSet.key !== 'tracks') {
    <fb-resource-sets
      [darkMode]="app.config.map.invertColor"
      [collection]="resSet.key"
      [resourceSets]="resSet.value"
      [selected]="app.config.selections.resourceSets[resSet.key]"
      [labelMinZoom]="this.app.config.selections.labelsMinZoom"
      [mapZoom]="fbMap.zoomLevel"
      [zIndex]="52 + idx"
    >
    </fb-resource-sets>
    }
  </div>

  <!-- Routes -->
  <fb-routes
    [routes]="dfeat.routes"
    [routeStyles]="featureStyles.route"
    [activeRoute]="activeRoute"
    [darkMode]="app.config.map.invertColor"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="80"
  >
  </fb-routes>

  <!-- Routes -->
  @if(activeRoute && !app.data.activeRouteIsEditing) {
  <fb-route-direction
    [points]="app.data.navData.activeRoutePoints"
    [pointIndex]="app.data.navData.pointIndex"
    [reverse]="app.data.activeRouteReversed"
    [zIndex]="81"
  >
  </fb-route-direction>
  }

  <!-- Waypoints -->
  <fb-waypoints
    [darkMode]="app.config.map.invertColor"
    [waypoints]="dfeat.waypoints"
    [waypointStyles]="featureStyles.waypoint"
    [activeWaypoint]="app.data.activeWaypoint"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="90"
  >
  </fb-waypoints>

  <!-- Signal K targets -->
  <!-- AtoN targets -->
  <sk-targets
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.atons"
    [targetStyles]="featureStyles.aton"
    targetType="aton"
    [updateIds]="aisMgr.updateList"
    [removeIds]="aisMgr.removeList"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="45"
  >
  </sk-targets>

  <!-- shore.basestations targets -->
  <sk-targets
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.atons"
    [targetStyles]="featureStyles.basestation"
    targetType="shore.basestations"
    [updateIds]="aisMgr.updateList"
    [removeIds]="aisMgr.removeList"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="45"
  >
  </sk-targets>

  <!-- Meteo targets -->
  @if(app.config.aisTargets) {
  <sk-targets
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.meteo"
    [targetStyles]="featureStyles.meteo"
    targetType="meteo"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [updateIds]="aisMgr.updateList"
    [staleIds]="aisMgr.staleList"
    [removeIds]="aisMgr.removeList"
    [inactiveTime]="app.config.selections.aisStaleAge"
    [zIndex]="122"
  >
  </sk-targets>
  }

  <!-- AIS Vessel targets -->
  @if(app.config.aisTargets) {
  <div>
    @if(app.config.selections.aisProfile === 0) {
    <sk-ais-flags
      [flagged]="app.data.vessels.flagged"
      [targetContext]="'vessels'"
      [targets]="dfeat.ais"
      [mapZoom]="fbMap.zoomLevel"
      [labelMinZoom]="this.app.config.selections.labelsMinZoom"
      [focusId]="app.data.vessels.activeId"
      [filterIds]="app.config.selections.aisTargets"
      [filterByShipType]="app.config.selections.aisFilterByShipType"
      [filterShipTypes]="app.config.selections.aisTargetTypes"
      [updateIds]="aisMgr.updateList"
      [staleIds]="aisMgr.staleList"
      [removeIds]="aisMgr.removeList"
      [inactiveTime]="app.config.selections.aisStaleAge"
      [zIndex]="221"
      [darkMode]="app.config.map.invertColor"
    >
    </sk-ais-flags>
    <sk-ais-vessels
      [darkMode]="app.config.map.invertColor"
      [targets]="dfeat.ais"
      [targetStyles]="featureStyles.aisVessel"
      [mapZoom]="fbMap.zoomLevel"
      [labelMinZoom]="this.app.config.selections.labelsMinZoom"
      [showVector]="true"
      [vectorMinZoom]="app.config.selections.aisWindMinZoom"
      [vectorApparent]="app.config.selections.aisWindApparent"
      [focusId]="app.data.vessels.activeId"
      [filterIds]="app.config.selections.aisTargets"
      [filterByShipType]="app.config.selections.aisFilterByShipType"
      [filterShipTypes]="app.config.selections.aisTargetTypes"
      [updateIds]="aisMgr.updateList"
      [staleIds]="aisMgr.staleList"
      [removeIds]="aisMgr.removeList"
      [inactiveTime]="app.config.selections.aisStaleAge"
      [zIndex]="220"
    >
    </sk-ais-vessels>
    }
  </div>
  }

  <!-- Aircraft targets -->
  @if(app.config.aisTargets) {
  <sk-targets
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.aircraft"
    [targetStyles]="featureStyles.aircraft"
    targetType="aircraft"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [updateIds]="aisMgr.updateList"
    [staleIds]="aisMgr.staleList"
    [removeIds]="aisMgr.removeList"
    [inactiveTime]="app.config.selections.aisStaleAge"
    [zIndex]="121"
  >
  </sk-targets>
  }

  <!-- SAR targets -->
  @if(app.config.aisTargets) {
  <sk-targets
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.sar"
    [targetStyles]="featureStyles.sar"
    targetType="sar"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [updateIds]="aisMgr.updateList"
    [staleIds]="aisMgr.staleList"
    [removeIds]="aisMgr.removeList"
    [inactiveTime]="app.config.selections.aisStaleAge"
    [zIndex]="122"
  >
  </sk-targets>
  }
  <!-- /Signal K targets -->

  <!-- Racing -->
  <racing-start-line
    [startLine]="app.data.racing.startLine"
    [racecourseStyles]="featureStyles.raceCourse"
    [darkMode]="app.config.map.invertColor"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="123"
  >
  </racing-start-line>
  <!-- /Racing -->

  <!-- Regions -->
  <fb-regions
    [darkMode]="app.config.map.invertColor"
    [regions]="dfeat.regions"
    [regionStyles]=""
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="120"
  >
  </fb-regions>

  <!-- Notes -->
  @if(display.layer.notes) {
  <fb-notes
    [notes]="dfeat.notes"
    [noteStyles]="featureStyles.note"
    [zIndex]="121"
  >
  </fb-notes>
  }

  <!-- Popovers -->
  @if(overlay.show && !draw.modify) {
  <ol-overlay [position]="overlay.position" [positioning]="'top-center'">
    @if(measure.enabled) {
    <ap-popover
      [title]="overlay.title"
      [canClose]="false"
      [measure]="true"
      (closed)="popoverClosed()"
    >
    </ap-popover>
    } @if(this.overlay.type === 'list') {
    <feature-list-popover
      [canClose]="app.config.popoverMulti"
      [title]="overlay.title"
      [features]="this.overlay.content"
      (selected)="featureListSelection($event)"
      (closed)="popoverClosed()"
    >
    </feature-list-popover>
    } @if(overlay.type === 'destination' || overlay.type === 'waypoint' ||
    overlay.type === 'route' || overlay.type === 'note' || overlay.type ===
    'region') {
    <resource-popover
      [canClose]="app.config.popoverMulti"
      [title]="overlay.title"
      [type]="overlay.type"
      [resource]="overlay.resource"
      [active]="
        app.data.activeWaypoint ? app.data.activeWaypoint : app.data.activeRoute
      "
      [featureCount]="overlay.featureCount"
      [units]="this.app.config.units.distance"
      (modify)="startModify(); popoverClosed()"
      (delete)="deleteFeature(overlay.id, overlay.type); popoverClosed()"
      (addNote)="
        skres.showNoteEditor({
          type: overlay.type,
          href: { id: overlay.id, exists: true }
        });
        popoverClosed()
      "
      (activated)="setActiveFeature(); popoverClosed()"
      (deactivated)="clearActiveFeature(); popoverClosed()"
      (related)="skres.showRelatedNotes($event, 'group'); popoverClosed()"
      (notes)="
        skres.showRelatedNotes(overlay.id, overlay.type); popoverClosed()
      "
      (info)="skres.resourceProperties(overlay); popoverClosed()"
      (points)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </resource-popover>
    } @if(overlay.type === 'rset') {
    <resourceset-popover
      [canClose]="app.config.popoverMulti"
      [title]="overlay.title"
      [resource]="overlay.resource"
      (modify)="startModify(); popoverClosed()"
      (delete)="deleteFeature(overlay.id, overlay.type); popoverClosed()"
      (info)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </resourceset-popover>
    } @if(overlay.type === 'ais') {
    <div>
      @if(app.config.selections.aisProfile === 0) {
      <vessel-popover
        [canClose]="app.config.popoverMulti"
        [vessel]="overlay.vessel"
        [useMagnetic]="app.useMagnetic"
        [isActive]="app.data.vessels.activeId === overlay.id"
        [isSelf]="overlay.isSelf"
        (info)="
          itemInfo(overlay.id, overlay.type, overlay.isSelf); popoverClosed()
        "
        (focused)="setActiveVessel($event ? overlay.id : null)"
        (markPosition)="skres.showWaypointEditor(null, $event); popoverClosed()"
        (closed)="popoverClosed()"
      >
      </vessel-popover>
      }
    </div>
    } @if(overlay.type === 'aton' || overlay.type === 'meteo') {
    <aton-popover
      [canClose]="app.config.popoverMulti"
      [aton]="overlay.aton"
      (info)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </aton-popover>
    } @if(overlay.type === 'aircraft') {
    <aircraft-popover
      [canClose]="app.config.popoverMulti"
      [aircraft]="overlay.aircraft"
      (info)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </aircraft-popover>
    } @if(overlay.type === 'alarm') {
    <alarm-popover
      [canClose]="app.config.popoverMulti"
      [alarm]="overlay.alarm"
      [id]="overlay.id"
      (info)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </alarm-popover>
    }
  </ol-overlay>
  }

  <!-- Alarms -->
  @if(!app.data.anchor.raised) {
  <fb-anchor-alarm
    [radius]="app.data.anchor.radius"
    [anchorPosition]="app.data.anchor.position"
    [lineCoords]="vesselLines.anchor"
    [anchorStyles]="featureStyles.anchor"
    [zIndex]="49"
  >
  </fb-anchor-alarm>
  } @if(dfeat.closest.id) {
  <fb-cpa-alarm
    [targetPosition]="dfeat.closest.position"
    [lineCoords]="vesselLines.cpa"
    [zIndex]="50"
  >
  </fb-cpa-alarm>
  }

  <!-- MOB alarm -->
  @if(app.data.alarms.has('mob')) {
  <fb-alarm
    [position]="
      app.data.alarms.get('mob').data?.position
        ? [
            app.data.alarms.get('mob').data?.position?.longitude,
            app.data.alarms.get('mob').data?.position?.latitude
          ]
        : null
    "
    [alarmType]="'mob'"
    [alarmStyles]="featureStyles.alarm"
    [zIndex]="51"
  >
  </fb-alarm>
  }

  <!-- Vessel / destination -->
  @if(dfeat.navData.startPosition && dfeat.navData.position &&
  app.data.anchor.raised) {
  <fb-xte-path
    [color]=""
    [lineCoords]="vesselLines.xtePath"
    [zIndex]="212"
    [visible]="true"
    [layerProperties]=""
  >
  </fb-xte-path>
  } @if(dfeat.navData.position && app.config.selections.vessel.laylines) {
  <fb-layline
    [lines]="vesselLines.laylines"
    [laylineStyles]="featureStyles.layline"
    [position]="app.data.vessels.active.position"
    [twd]="app.data.vessels.self.wind.twd"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="212"
  >
  </fb-layline>
  <fb-target-angle
    [line]="vesselLines.targetAngle"
    [lineStyle]="featureStyles.targetAngle"
    [position]="app.data.vessels.active.position"
    [twd]="app.data.vessels.self.wind.twd"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="212"
  >
  </fb-target-angle>
  } @if(dfeat.navData.position && app.data.anchor.raised) {
  <fb-bearing-line
    [marker]="dfeat.navData.position"
    [lineCoords]="vesselLines.bearing"
    [showMarker]="!app.data.activeWaypoint"
    [markerName]="app.data.navData.destPointName"
    [bearingStyles]="featureStyles.destination"
    [labelMinZoom]="this.app.config.selections.labelsMinZoom"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="212"
  >
  </fb-bearing-line>
  } @if(app.data.navData.arrivalCircle && dfeat.navData.position) {
  <fb-arrival-circle
    [radius]="app.data.navData.arrivalCircle"
    [position]="dfeat.navData.position"
    [zIndex]="212"
  >
  </fb-arrival-circle>
  }

  <!-- Vessel (self) -->
  <fb-vessel
    [position]="dfeat.self.position"
    [heading]="dfeat.self.orientation"
    [id]="'' + app.data.selfId"
    [activeId]="app.data.vessels.activeId"
    [vesselLines]="vesselLines"
    [showWind]="app.config.selections.vessel.windVectors"
    [vesselStyles]="featureStyles.vessel"
    [fixedLocation]="app.config.fixedLocationMode"
    [zIndex]="250"
  >
  </fb-vessel>

  @if(app.config.selections.vessel.trail && app.data.vessels.showSelf) {
  <fb-vessel-trail
    [localTrail]="vesselLines.trail"
    [serverTrail]="dfeat.trail"
    [trailStyles]=""
    [zIndex]="200"
  >
  </fb-vessel-trail>
  }

  <!-- chart boundaries-->
  @if(app.data.chartBounds) {
  <fb-chart-bounds [zIndex]="250" [charts]="dfeat.charts"> </fb-chart-bounds>
  }
</ol-map>

<!-- context menu -->
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu" (contextmenu)="$event.preventDefault()">
  <ng-template matMenuContent let-item="item">
    <button
      mat-menu-item
      (contextmenu)="$event.preventDefault()"
      (click)="onContextMenuAction('nav_to', item)"
    >
      <mat-icon>near_me</mat-icon>
      Navigate to here
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="onContextMenuAction('add_wpt', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon class="icon-waypoint">add_location</mat-icon>
      Add Waypoint here
    </button>

    @if(fbMap.zoomLevel >= app.config.selections.notesMinZoom) {
    <button
      mat-menu-item
      (click)="onContextMenuAction('add_note', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon>local_offer</mat-icon>
      Add Note here
    </button>
    }

    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="onContextMenuAction('measure', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon>straighten</mat-icon>
      Measure
    </button>
    <mat-divider></mat-divider>

    @if(app.config.selections.vessel.trail && app.data.trail.length !== 0) {
    <button mat-menu-item (click)="onContextMenuAction('cleartrail', item)">
      <mat-icon>clear_all</mat-icon>
      <span>{{ app.data.serverTrail ? 'Refresh' : 'Clear' }} Trail</span>
    </button>
    }

    <button
      mat-menu-item
      (click)="onContextMenuAction('trail2route', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon>insights</mat-icon>
      Trail to Route
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="onContextMenuAction('anchor', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon>anchor</mat-icon>
      Anchor Watch
    </button>
    <button
      mat-menu-item
      (click)="onContextMenuAction('weather_forecast', item)"
    >
      <mat-icon>air</mat-icon>
      <span>Weather Forecast</span>
    </button>
  </ng-template>
</mat-menu>
