<ol-map
  [style.cursor]="draw.enabled || measure.enabled ? 'crosshair' : 'initial'"
  [logo]="false"
  [olInteractions]="fbMap.interactions"
  [olControls]="fbMap.controls"
  [setFocus]="fbMap.focus"
  (mapSingleClick)="onMapMouseClick($event)"
  (mapMoveEnd)="onMapMove($event)"
  (mapPointerMove)="onMapPointerMove($event)"
  (mapPointerDrag)="onMapPointerDrag()"
  (contextmenu)="onMapRightClick($event)"
  olView
  [zoom]="fbMap.zoomLevel"
  [center]="fbMap.center"
  [rotation]="fbMap.rotation"
  [minZoom]="app.MAP_ZOOM_EXTENT.min"
  [maxZoom]="app.MAP_ZOOM_EXTENT.max"
  [enableAnimation]="false"
>
  <!-- Draw / modify -->
  <ol-draw
    *ngIf="measure.enabled"
    [type]="'LineString'"
    (drawStart)="onMeasureStart($event)"
    (drawEnd)="onMeasureEnd()"
    [style]="measure.style"
  >
  </ol-draw>

  <ol-draw
    *ngIf="draw.enabled"
    [type]="draw.type"
    (drawEnd)="onDrawEnd($event)"
  >
  </ol-draw>

  <ol-modify
    *ngIf="draw.modify && draw.features"
    [features]="draw.features"
    (modifyStart)="onModifyStart($event)"
    (modifyEnd)="onModifyEnd($event)"
  >
  </ol-modify>

  <!-- Zoom control -->
  <ol-control>
    <ol-content>
      <div class="ol-zoom">
        <button
          mat-mini-fab
          (click)="zoomMap(false)"
          [disabled]="fbMap.zoomLevel <= app.MAP_ZOOM_EXTENT.min"
          matTooltip="Zoom out"
        >
          <mat-icon>remove</mat-icon>
        </button>
        &nbsp;
        <button
          mat-mini-fab
          (click)="zoomMap(true)"
          [disabled]="fbMap.zoomLevel >= app.MAP_ZOOM_EXTENT.max"
          matTooltip="Zoom in"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ol-content>
  </ol-control>

  <!-- Cursor position control -->
  <ol-control>
    <ol-content>
      <div class="ol-mouse-position">
        <span
          style="
            background-color: rgba(250, 250, 250, 0.7);
            padding: 0 5px 0 5px;
          "
        >
          <span *ngIf="app.config.selections.positionFormat == 'XY'"
            >Lat:&nbsp;</span
          >
          <span
            [innerText]="
              mouse.coords[1]
                | coords : app.config.selections.positionFormat : true
            "
          ></span>
          &nbsp;
          <span *ngIf="app.config.selections.positionFormat == 'XY'"
            >Lon:&nbsp;</span
          >
          <span
            [innerText]="
              mouse.coords[0] | coords : app.config.selections.positionFormat
            "
          ></span>
          &nbsp;
          <span [innerText]="'Zm: ' + fbMap.zoomLevel.toFixed(1)"></span>
        </span>
      </div>
    </ol-content>
  </ol-control>

  <!-- Charts -->
  <fb-charts [zIndex]="10" [charts]="dfeat.charts"> </fb-charts>

  <!-- Tracks -->
  <fb-tracks
    *ngIf="app.config.resources.paths.includes('tracks')"
    [darkMode]="app.config.map.invertColor"
    [tracks]="dfeat.tracks"
    [labelMinZoom]="0"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="50"
  >
  </fb-tracks>

  <!-- AIS target tracks -->
  <sk-target-tracks
    *ngIf="app.config.aisTargets"
    [tracks]="app.data.vessels.aisTracks"
    [updateIds]="aisMgr.updateList"
    [removeIds]="aisMgr.removeList"
    [showTracks]="app.config.aisShowTrack"
    [minZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    zIndex="51"
  >
  </sk-target-tracks>

  <!-- Resource Sets -->
  <div *ngFor="let resSet of app.data.resourceSets | keyvalue; let idx = index">
    <fb-resource-sets
      *ngIf="resSet.key != 'tracks'"
      [darkMode]="app.config.map.invertColor"
      [resourceSets]="resSet.value"
      [selected]="app.config.selections.resourceSets[resSet.key]"
      [labelMinZoom]="10"
      [mapZoom]="fbMap.zoomLevel"
      [zIndex]="52 + idx"
    >
    </fb-resource-sets>
  </div>

  <!-- Routes -->
  <fb-routes
    [routes]="dfeat.routes"
    [routeStyles]=""
    [activeRoute]="activeRoute"
    [zIndex]="80"
  >
  </fb-routes>

  <!-- Routes -->
  <fb-route-direction
    *ngIf="activeRoute && !app.data.activeRouteIsEditing"
    [points]="app.data.navData.activeRoutePoints"
    [pointIndex]="app.data.navData.pointIndex"
    [reverse]="app.data.activeRouteReversed"
    [zIndex]="81"
  >
  </fb-route-direction>

  <!-- Waypoints -->
  <fb-waypoints
    [darkMode]="app.config.map.invertColor"
    [waypoints]="dfeat.waypoints"
    [waypointStyles]="featureStyles.waypoint"
    [activeWaypoint]="app.data.activeWaypoint"
    [labelMinZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="90"
  >
  </fb-waypoints>

  <!-- Signal K targets -->
  <!-- AtoN targets -->
  <sk-targets
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.atons"
    [targetStyles]="featureStyles.aton"
    targetType="aton"
    [updateIds]="aisMgr.updateList"
    [removeIds]="aisMgr.removeList"
    [labelMinZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="45"
  >
  </sk-targets>

  <!-- shore.basestations targets -->
  <sk-targets
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.atons"
    [targetStyles]="featureStyles.basestation"
    targetType="shore.basestations"
    [updateIds]="aisMgr.updateList"
    [removeIds]="aisMgr.removeList"
    [labelMinZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="45"
  >
  </sk-targets>

  <!-- AIS Vessel targets -->
  <div
    *ngIf="app.config.aisTargets"
    [ngSwitch]="app.config.selections.aisProfile"
  >
    <sk-ais-vessels
      *ngSwitchCase="0"
      [darkMode]="app.config.map.invertColor"
      [targets]="dfeat.ais"
      [targetStyles]="featureStyles.aisVessel"
      [mapZoom]="fbMap.zoomLevel"
      [labelMinZoom]="10"
      [showVector]="true"
      [vectorMinZoom]="app.config.selections.aisWindMinZoom"
      [vectorApparent]="app.config.selections.aisWindApparent"
      [focusId]="app.data.vessels.activeId"
      [filterIds]="app.config.selections.aisTargets"
      [updateIds]="aisMgr.updateList"
      [staleIds]="aisMgr.staleList"
      [removeIds]="aisMgr.removeList"
      [inactiveTime]="app.config.selections.aisStaleAge"
      [zIndex]="120"
    >
    </sk-ais-vessels>
  </div>

  <!-- Aircraft targets -->
  <sk-targets
    *ngIf="app.config.aisTargets"
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.aircraft"
    [targetStyles]="featureStyles.aircraft"
    targetType="aircraft"
    [labelMinZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    [updateIds]="aisMgr.updateList"
    [staleIds]="aisMgr.staleList"
    [removeIds]="aisMgr.removeList"
    [inactiveTime]="app.config.selections.aisStaleAge"
    [zIndex]="121"
  >
  </sk-targets>

  <!-- SAR targets -->
  <sk-targets
    *ngIf="app.config.aisTargets"
    [darkMode]="app.config.map.invertColor"
    [targets]="dfeat.sar"
    [targetStyles]="featureStyles.sar"
    targetType="sar"
    [labelMinZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    [updateIds]="aisMgr.updateList"
    [staleIds]="aisMgr.staleList"
    [removeIds]="aisMgr.removeList"
    [inactiveTime]="app.config.selections.aisStaleAge"
    [zIndex]="122"
  >
  </sk-targets>

  <!-- Signal K targets -->

  <!-- Regions -->
  <fb-regions
    *ngIf="display.layer.notes"
    [regions]="dfeat.regions"
    [regionStyles]=""
    [zIndex]="120"
  >
  </fb-regions>

  <!-- Notes -->
  <fb-notes
    *ngIf="display.layer.notes"
    [notes]="dfeat.notes"
    [noteStyles]="featureStyles.note"
    [zIndex]="121"
  >
  </fb-notes>

  <!-- Popovers -->
  <ol-overlay
    *ngIf="overlay.show && !draw.modify"
    [position]="overlay.position"
    [positioning]="'top-center'"
  >
    <ap-popover
      *ngIf="measure.enabled"
      [title]="overlay.title"
      [canClose]="false"
      [measure]="true"
      (closed)="popoverClosed()"
    >
    </ap-popover>

    <feature-list-popover
      *ngIf="this.overlay.type == 'list'"
      [canClose]="app.config.popoverMulti"
      [title]="overlay.title"
      [features]="this.overlay.content"
      (selected)="featureListSelection($event)"
      (closed)="popoverClosed()"
    >
    </feature-list-popover>

    <resource-popover
      *ngIf="
        overlay.type != 'ais' &&
        overlay.type != 'list' &&
        overlay.type != 'measure'
      "
      [canClose]="app.config.popoverMulti"
      [title]="overlay.title"
      [type]="overlay.type"
      [resource]="overlay.resource"
      [active]="
        app.data.activeWaypoint ? app.data.activeWaypoint : app.data.activeRoute
      "
      [featureCount]="overlay.featureCount"
      [units]="this.app.config.units.distance"
      (modify)="startModify(); popoverClosed()"
      (delete)="deleteFeature(overlay.id, overlay.type); popoverClosed()"
      (addNote)="
        skres.showNoteEditor({
          type: overlay.type,
          href: { id: overlay.id, exists: true }
        });
        popoverClosed()
      "
      (activated)="setActiveFeature(); popoverClosed()"
      (deactivated)="clearActiveFeature(); popoverClosed()"
      (related)="skres.showRelatedNotes($event, 'group'); popoverClosed()"
      (notes)="
        skres.showRelatedNotes(overlay.id, overlay.type); popoverClosed()
      "
      (info)="skres.resourceProperties(overlay); popoverClosed()"
      (points)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </resource-popover>

    <div
      *ngIf="overlay.type == 'ais'"
      [ngSwitch]="app.config.selections.aisProfile"
    >
      <vessel-popover
        *ngSwitchCase="0"
        [canClose]="app.config.popoverMulti"
        [vessel]="overlay.vessel"
        [useMagnetic]="app.useMagnetic"
        [isActive]="app.data.vessels.activeId == overlay.id"
        [isSelf]="overlay.isSelf"
        (info)="
          itemInfo(overlay.id, overlay.type, overlay.isSelf); popoverClosed()
        "
        (focused)="setActiveVessel($event ? overlay.id : null)"
        (markPosition)="skres.showWaypointEditor(null, $event); popoverClosed()"
        (closed)="popoverClosed()"
      >
      </vessel-popover>
    </div>

    <aton-popover
      *ngIf="overlay.type == 'aton'"
      [canClose]="app.config.popoverMulti"
      [aton]="overlay.aton"
      (info)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </aton-popover>

    <aircraft-popover
      *ngIf="overlay.type == 'aircraft'"
      [canClose]="app.config.popoverMulti"
      [aircraft]="overlay.aircraft"
      (info)="itemInfo(overlay.id, overlay.type); popoverClosed()"
      (closed)="popoverClosed()"
    >
    </aircraft-popover>
  </ol-overlay>

  <!-- Alarms -->
  <fb-anchor-alarm
    *ngIf="!app.data.anchor.raised"
    [radius]="app.data.anchor.radius"
    [anchorPosition]="app.data.anchor.position"
    [lineCoords]="vesselLines.anchor"
    [anchorStyles]="featureStyles.anchor"
    [zIndex]="49"
  >
  </fb-anchor-alarm>

  <fb-cpa-alarm
    *ngIf="dfeat.closest.id"
    [targetPosition]="dfeat.closest.position"
    [lineCoords]="vesselLines.cpa"
    [zIndex]="50"
  >
  </fb-cpa-alarm>

  <!-- Vessel / destination -->
  <fb-xte-path
    *ngIf="
      dfeat.navData.startPosition &&
      dfeat.navData.position &&
      app.data.anchor.raised
    "
    [color]=""
    [lineCoords]="vesselLines.xtePath"
    [zIndex]="212"
    [visible]="true"
    [layerProperties]=""
  >
  </fb-xte-path>

  <fb-bearing-line
    *ngIf="dfeat.navData.position && app.data.anchor.raised"
    [marker]="dfeat.navData.position"
    [lineCoords]="vesselLines.bearing"
    [showMarker]="!app.data.activeWaypoint"
    [markerName]="app.data.navData.destPointName"
    [bearingStyles]="featureStyles.destination"
    [labelMinZoom]="10"
    [mapZoom]="fbMap.zoomLevel"
    [zIndex]="212"
  >
  </fb-bearing-line>

  <fb-arrival-circle
    *ngIf="app.data.navData.arrivalCircle && dfeat.navData.position"
    [radius]="app.data.navData.arrivalCircle"
    [position]="dfeat.navData.position"
    [zIndex]="212"
  >
  </fb-arrival-circle>

  <!-- Vessel (self) -->
  <fb-vessel
    [position]="dfeat.self.position"
    [heading]="dfeat.self.orientation"
    [id]="'' + app.data.selfId"
    [activeId]="app.data.vessels.activeId"
    [vesselLines]="vesselLines"
    [showWind]="app.config.vesselWindVectors"
    [vesselStyles]="featureStyles.vessel"
    [fixedLocation]="app.config.fixedLocationMode"
    [zIndex]="213"
  >
  </fb-vessel>

  <fb-vessel-trail
    *ngIf="app.config.vesselTrail && app.data.vessels.showSelf"
    [localTrail]="vesselLines.trail"
    [serverTrail]="dfeat.trail"
    [trailStyles]=""
    [zIndex]="200"
  >
  </fb-vessel-trail>
</ol-map>

<!-- context menu -->
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu" (contextmenu)="$event.preventDefault()">
  <ng-template matMenuContent let-item="item">
    <button
      mat-menu-item
      (contextmenu)="$event.preventDefault()"
      (click)="onContextMenuAction('nav_to', item)"
    >
      <mat-icon color="primary">near_me</mat-icon>
      Navigate to here
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="onContextMenuAction('add_wpt', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon color="primary">add_location</mat-icon>
      Add Waypoint here
    </button>
    <button
      mat-menu-item
      *ngIf="fbMap.zoomLevel >= app.config.selections.notesMinZoom"
      (click)="onContextMenuAction('add_note', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon style="color: orange">local_offer</mat-icon>
      Add Note here
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="onContextMenuAction('measure', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon>straighten</mat-icon>
      Measure
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      *ngIf="app.config.vesselTrail && app.data.trail.length != 0"
      (click)="onContextMenuAction('cleartrail', item)"
    >
      <mat-icon>clear_all</mat-icon>
      <span>{{ app.data.serverTrail ? 'Refresh' : 'Clear' }} Trail</span>
    </button>
    <button
      mat-menu-item
      (click)="onContextMenuAction('trail2route', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon>insights</mat-icon>
      Trail to Route
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      (click)="onContextMenuAction('anchor', item)"
      (contextmenu)="$event.preventDefault()"
    >
      <mat-icon><i class="fi-anchor"></i></mat-icon>
      Anchor Watch
    </button>
  </ng-template>
</mat-menu>
