<aol-layer-vector [zIndex]="zIndex"> 
    <aol-source-vector>
        <div *ngFor="let r of routes; let i=index;"> 
            <!-- route course-->              
            <aol-feature *ngIf="r[2]" [id]="'route.'+ r[0]">
                <aol-geometry-linestring>
                    <aol-collection-coordinates
                        [coordinates]="r[1].feature?.geometry?.coordinates"
                        [srid]="srid">
                    </aol-collection-coordinates>
                </aol-geometry-linestring>
                <aol-style>
                    <aol-style-stroke 
                        [color]="r[0]==activeRoute ? 'blue' : 'green'" 
                        [lineDash]="r[0]==activeRoute ? [1] : [20,5,5,5]"
                        [width]="r[0]==activeRoute ? 4 : 2">
                    </aol-style-stroke>                                                                                                   
                </aol-style>
            </aol-feature>
            <!-- start / end points -->
            <aol-feature *ngIf="r[2]" [id]="'sptroute.'+ r[0]"> 
                <aol-geometry-point>
                    <aol-coordinate 
                        [x]="r[1].feature?.geometry?.coordinates[0][0]" 
                        [y]="r[1].feature?.geometry?.coordinates[0][1]" 
                        [srid]="srid">
                    </aol-coordinate>
                </aol-geometry-point>
                <aol-style>    
                    <aol-style-circle [radius]="5">
                        <aol-style-stroke [color]="'white'" [width]="2"></aol-style-stroke>
                        <aol-style-fill [color]="r[0]==activeRoute ? 'blue' : 'green'"></aol-style-fill>                                        
                    </aol-style-circle>                                                                                                     
                </aol-style>                                
            </aol-feature>  
            <aol-feature *ngIf="r[2]" [id]="'eptroute.'+ r[0]"> 
                <aol-geometry-point>
                    <aol-coordinate 
                        [x]="r[1].feature?.geometry?.coordinates[r[1].feature.geometry.coordinates.length-1][0]" 
                        [y]="r[1].feature?.geometry?.coordinates[r[1].feature.geometry.coordinates.length-1][1]" 
                        [srid]="srid">
                    </aol-coordinate>
                </aol-geometry-point>
                <aol-style>    
                    <aol-style-circle [radius]="5">
                        <aol-style-stroke [color]="'yellow'" [width]="2"></aol-style-stroke>
                        <aol-style-fill [color]="r[0]==activeRoute ? 'blue' : 'green'"></aol-style-fill>                                        
                    </aol-style-circle>                                                                                                     
                </aol-style>                                
            </aol-feature>                                                                            
        </div>
    </aol-source-vector>
</aol-layer-vector>
