<aol-layer-vector [zIndex]="zIndex" [renderBuffer]="200">
        <aol-source-vector>
            <div *ngFor="let r of regions; let i=index;">
                <!--Polygon-->
                <aol-feature [id]="'region.'+ r[0]" *ngIf="r[1].feature.geometry.type=='Polygon'"> 
                    <aol-geometry-polygon>
                        <aol-collection-coordinates
                            [coordinates]="r[1].feature.geometry.coordinates"
                            [srid]="srid">
                        </aol-collection-coordinates>                                        
                    </aol-geometry-polygon>
                    <aol-style>
                        <aol-style-stroke [color]="'purple'"></aol-style-stroke>
                        <aol-style-fill [color]="[255,0,255,0.1]"></aol-style-fill>
                    </aol-style>
                </aol-feature> 
                <!--MultiPolygon-->
                <aol-feature [id]="'region.'+ r[0]" *ngIf="r[1].feature.geometry.type=='MultiPolygon'"> 
                    <aol-geometry-multipolygon>
                        <aol-collection-coordinates
                            [coordinates]="r[1].feature.geometry.coordinates"
                            [srid]="srid">
                        </aol-collection-coordinates>                                        
                    </aol-geometry-multipolygon>
                    <aol-style>
                        <aol-style-stroke [color]="'purple'"></aol-style-stroke>
                        <aol-style-fill [color]="[255,0,255,0.1]"></aol-style-fill>
                    </aol-style>
                </aol-feature>                                 
            </div>                            
            <div *ngFor="let w of notes; let i=index;">
                <aol-feature [id]="'note.'+ w[0]">
                    <aol-geometry-point>
                        <aol-coordinate 
                            [x]="w[1].position.longitude" 
                            [y]="w[1].position.latitude" 
                            [srid]="srid">
                        </aol-coordinate>
                    </aol-geometry-point>
                    <aol-style>
                        <aol-style-icon 
                            [anchor]="[3.5, 3]"
                            [anchorXUnits]="'pixels'"
                            [anchorYUnits]= "'pixels'"
                            [src]="'./assets/img/note.png'"
                            [size]="[25,25]"
                            [scale]="1"
                            [rotateWithView]="false"
                            [rotation]="0">
                        </aol-style-icon>
                    </aol-style>
                </aol-feature>
            </div>
        </aol-source-vector> 
    </aol-layer-vector>