li.nobullet { list-style-type: none !important; }

.top-bar {
    background: rgba(200,200,200,.6);
    color: #333333
}

.content-container {
    position: absolute;
    top:45px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
}

.content-left {
    min-width: 150px;
    max-width: 30%;
    overflow-y: auto;
}

.content-right {
    flex: 1 1 auto;
	overflow-y: auto;
}
