<div class="anchorwatch mat-app-background">

    <mat-card  class="title-block">
        <div style="flex: 1 1 auto;">
            <div class="title-text">Anchor Watch:</div>
        </div>
        <div style="min-width:35px;">&nbsp;&nbsp;</div>
        <div>
            <button mat-icon-button 
                (click)="close()"
                matTooltip="Close"
                matTooltipPosition="left">
                <mat-icon>close</mat-icon>
            </button>            
        </div>
    </mat-card>

    <div class="content">    
        <mat-card>
            <div style="display: flex;">
                <div style="flex: 1 1 auto;">
                    <div style="width: 150px;text-align: center;">
                        <mat-slider [color]="display.sliderColor"
                            [disabled]="!raised || disable"
                            [min]="(this.feet) ? mToFt(min) : min" 
                            [max]="(this.feet) ? mToFt(max) : max" step="1" 
                            [value]="(this.feet) ? mToFt(radius) : radius"
                            thumbLabel tickInterval="1"
                            (change)="setRadius($event)">
                        </mat-slider>
                    </div>
                    <div style="width: 150px;height:150px;color:black;
                        background-image: url('./assets/img/anchor-radius.png');
                        background-position: top left;
                        background-size:cover; 
                        ">
                        <b style="position: fixed;top: 145px;left: 62px;width:35px;text-align:right;">
                            {{(this.feet) ? mToFt(radius) : radius}} 
                        </b>
                        <b style="position: fixed;top: 145px;left:102px;text-align:left;">
                            {{(feet) ? 'ft' : 'm'}}
                        </b>                       
                    </div>                    
                </div>        
                <div style="text-align: right;"></div>  
            </div>
            <mat-card-actions>
                <div style="display: flex;">
                    <div>&nbsp;</div>
                    <div style="flex: 1 1 auto;text-align:right;">
                            RAISE 
                        <mat-slide-toggle color="warn"
                            [disabled]="disable"
                            [checked]="!raised"
                            (change)="dropAnchor($event)">
                        </mat-slide-toggle> DROP                            
                    </div>                             
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>