<div mat-dialog-title style="display: flex">
  <mat-menu #settingsMenu="matMenu">
    <a mat-menu-item *ngFor="let i of menuItems" (click)="jumpTo(i.id, true)">
      {{i.text}}
    </a>
  </mat-menu>

  <div>
    <button
      mat-icon-button
      *ngIf="!display.paths"
      [matMenuTriggerFor]="settingsMenu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div [ngSwitch]="display.paths" style="flex: 1 1 auto; text-align: center">
    <span *ngSwitchCase="false">Settings</span>
    <span *ngSwitchCase="true">Preferred Paths</span>
  </div>
  <div style="text-align: right">
    <button mat-icon-button *ngIf="!display.paths" (click)="handleClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content style="display: flex">
  <div class="left-settings-menu" *ngIf="!display.paths">
    <mat-nav-list>
      <a mat-list-item *ngFor="let i of menuItems" (click)="jumpTo(i.id)">
        {{i.text}}
      </a>
    </mat-nav-list>
  </div>
  <div style="flex: 1 1 auto">
    <div
      class="theme-page settings right-settings-content"
      *ngIf="!display.paths"
    >
      <div class="theme-panel">
        <div class="setting-group" id="sectDisplay">
          <div class="setting-group-title">DISPLAY</div>
          <mat-card class="setting-card" *ngIf="facade.data.optAppPanel">
            <div
              class="setting-card-row"
              *ngIf="facade.list.applications.length>1"
            >
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #instruments
                    [(value)]="facade.settings.plugins.instruments"
                    (selectionChange)="onFormChange($event, instruments);facade.buildFavouritesList()"
                    placeholder="Select Instruments App"
                  >
                    <mat-option
                      *ngFor="let i of facade.list.applications"
                      [value]="i.url"
                      [matTooltip]="i.description"
                      matTooltipPosition="right"
                    >
                      {{i.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%" floatLabel="always">
                  <mat-label>parameters:</mat-label>
                  <input
                    matInput
                    type="text"
                    #instparams="ngModel"
                    [disabled]="facade.settings.plugins.instruments==null"
                    [(ngModel)]="facade.settings.plugins.parameters"
                    (change)="onFormChange($event, instparams)"
                    placeholder="e.g. ?layout=mylayout"
                    matTooltip="Enter parameters to pass to Instrument App"
                  />
                </mat-form-field>
              </div>
              <div class="setting-card-row-item">
                <mat-checkbox
                  #startOnOpen
                  color="primary"
                  [(ngModel)]="facade.settings.plugins.startOnOpen"
                  (change)="onFormChange($event, startOnOpen)"
                  matTooltip="Stop instrument app when hidden"
                  label="after"
                >
                  Halt App on hide
                </mat-checkbox>
              </div>
              <div class="setting-card-row-item">
                <button
                  mat-raised-button
                  (click)="toggleFavourites()"
                  matTooltip="Favourite Apps"
                  label="after"
                >
                  <mat-icon color="primary">star</mat-icon>
                  FAVOURITES
                </button>
              </div>
            </div>
            <div class="setting-card-row" *ngIf="display.favourites">
              <div class="setting-card-row-item">
                <div style="font-style: italic">
                  <br />Select Favourite Apps:
                </div>
                <mat-divider></mat-divider>
                <mat-selection-list
                  #favs
                  (selectionChange)="onFavSelected($event, favs)"
                >
                  <mat-list-option
                    *ngFor="let fav of facade.list.favourites"
                    color="primary"
                    [disabled]="fav.url==facade.settings.plugins.instruments"
                    [selected]="facade.settings.selections.pluginFavourites.includes(fav.url)"
                    [value]="fav.url"
                  >
                    {{fav.name}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
          </mat-card>
          <br />
          <mat-card class="setting-card">
            <div class="setting-card-row" style="padding-bottom: 10px">
              <div class="setting-card-row-item">
                <mat-checkbox
                  #depthalarm
                  color="primary"
                  [(ngModel)]="facade.settings.depthAlarm.enabled"
                  (change)="onFormChange($event, depthalarm)"
                  label="after"
                >
                  Show DEPTH Alarms
                </mat-checkbox>
              </div>
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #depthsmoothing
                    matTooltip="Period of time out of alarm state before re-triggering."
                    [disabled]="!facade.settings.depthAlarm.enabled"
                    [(value)]="facade.settings.depthAlarm.smoothing"
                    (selectionChange)="onFormChange($event, depthsmoothing)"
                    placeholder="Alarm Smoothing Time"
                  >
                    <mat-option
                      *ngFor="let i of facade.alarmOptions.smoothing | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card>

          <mat-card class="setting-card">
            <div class="setting-card-row" style="padding-bottom: 10px">
              <div class="setting-card-row-item">
                <mat-checkbox
                  #wakelock
                  color="primary"
                  [(ngModel)]="facade.settings.selections.wakeLock"
                  (change)="onFormChange($event, wakelock)"
                  label="after"
                >
                  Prevent Device Sleeping
                </mat-checkbox>
              </div>
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #darkmode
                    matTooltip="Dark Mode setting."
                    [(value)]="facade.settings.darkMode.source"
                    (selectionChange)="onFormChange($event, darkmode)"
                    placeholder="Dark Mode setting"
                  >
                    <mat-option
                      *ngFor="let i of facade.darkModeOptions | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card>

          <div class="setting-group-title">MAP</div>
          <mat-card>
            <div class="setting-card-row" style="padding-bottom: 10px">
              <div class="setting-card-row-item">
                <mat-checkbox
                  #popoverMulti
                  color="primary"
                  [(ngModel)]="facade.settings.popoverMulti"
                  (change)="onFormChange($event, popoverMulti)"
                  matTooltip="Add close button to popovers"
                  label="after"
                >
                  Popovers close with button
                </mat-checkbox>
              </div>
              <div class="setting-card-row-item">
                <mat-checkbox
                  #mapDoubleClick
                  color="primary"
                  [(ngModel)]="facade.settings.mapDoubleClick"
                  (change)="onFormChange($event, mapDoubleClick)"
                  matTooltip="Double Click map to zoom"
                  label="after"
                >
                  Double click to Zoom
                </mat-checkbox>
              </div>
              <!--
                <br>                         
                <div class="setting-card-row-item">
                    <mat-checkbox #mapAnimate color="primary"
                        [(ngModel)]="facade.settings.map.animate" 
                        (change)="onFormChange($event, mapAnimate)"
                        matTooltip="Animate Map movement"
                        label="after">
                        Animate Map
                    </mat-checkbox>                                        
                </div>
            --></div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectUnits">
          <div class="setting-group-title">UNITS &amp; VALUES</div>
          <mat-card class="setting-card">
            <div class="setting-card-row" style="padding-bottom: 10px">
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    id="distunits"
                    #distunits
                    [(value)]="facade.settings.units.distance"
                    (selectionChange)="onFormChange($event, distunits)"
                    placeholder="Distance units"
                  >
                    <mat-option
                      *ngFor="let i of facade.availableUnits.distance | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #depthunits
                    [(value)]="facade.settings.units.depth"
                    (selectionChange)="onFormChange($event, depthunits)"
                    placeholder="Depth units"
                  >
                    <mat-option
                      *ngFor="let i of facade.availableUnits.depth | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    id="speedunits"
                    #speedunits
                    [(value)]="facade.settings.units.speed"
                    (selectionChange)="onFormChange($event, speedunits)"
                    placeholder="Speed units"
                  >
                    <mat-option
                      *ngFor="let i of facade.availableUnits.speed | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div
                class="setting-card-row-item"
                *ngIf="facade.preferredValues.coords.length!=0"
              >
                <mat-form-field style="width: 100%">
                  <mat-select
                    #positionformat
                    matTooltip="Display position in this format"
                    [(value)]="facade.settings.selections.positionFormat"
                    (selectionChange)="onFormChange($event, positionformat)"
                    placeholder="Position display format"
                  >
                    <mat-option
                      *ngFor="let i of facade.preferredValues.coords"
                      [value]="i[0]"
                      >{{i[1]}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="setting-card-row-item">
                <div style="height: 65px">
                  <button
                    mat-raised-button
                    matTooltip="Select preferred path to source values from."
                    (click)="display.paths=true"
                  >
                    <mat-icon color="primary">settings_input_svideo</mat-icon>
                    PREFERRED PATHS
                  </button>
                </div>
              </div>
              <div
                class="setting-card-row-item"
                *ngIf="facade.preferredValues.heading.length!=0"
              >
                <mat-form-field style="width: 100%">
                  <mat-select
                    #headingattrib
                    matTooltip="Preferred value type for paths not in Preferred Paths above"
                    [(value)]="facade.settings.selections.headingAttribute"
                    (selectionChange)="onFormChange($event, headingattrib)"
                    placeholder="Prefer True / Magnetic values"
                  >
                    <mat-option
                      *ngFor="let i of facade.preferredValues.heading"
                      [value]="i[0]"
                      >{{i[1]}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectCourse">
          <div class="setting-group-title">COURSE</div>
          <mat-card class="setting-card">
            <div class="setting-card-row" style="padding-bottom: 10px">
              <div class="setting-card-row-item">
                <mat-checkbox
                  #courseautoadvance
                  color="primary"
                  [(ngModel)]="facade.settings.selections.course.autoNextPointOnArrival"
                  (change)="onFormChange($event, courseautoadvance)"
                  label="after"
                >
                  Auto-advance to next point on arrival
                </mat-checkbox>
                <mat-form-field style="width: 100%">
                  <mat-select
                    #courseautoadvancedelay
                    matTooltip="Period of time out of alarm state before re-triggering."
                    [disabled]="!facade.settings.selections.course.autoNextPointOnArrival"
                    [(value)]="facade.settings.selections.course.autoNextPointDelay"
                    (selectionChange)="onFormChange($event, courseautoadvancedelay)"
                    placeholder="Time to wait before advancing"
                  >
                    <mat-option
                      *ngFor="let i of facade.alarmOptions.smoothing | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectVessels">
          <div class="setting-group-title">VESSEL</div>
          <mat-card class="setting-card">
            <br />
            <div class="setting-card-row-item">
              <mat-checkbox
                #vesselwindvectors
                color="primary"
                [(ngModel)]="facade.settings.vesselWindVectors"
                (change)="onFormChange($event, vesselwindvectors)"
                label="after"
              >
                Display Wind Vectors
              </mat-checkbox>
            </div>
            <br />
            <fieldset>
              <legend>
                <mat-checkbox
                  #vesseltrail
                  color="primary"
                  [(ngModel)]="facade.settings.vesselTrail"
                  (change)="onFormChange($event, vesseltrail)"
                  label="after"
                >
                  Display Vessel Trail
                </mat-checkbox>
              </legend>
              <div class="setting-card-row" style="padding-bottom: 10px">
                <div class="setting-card-row-item">
                  <mat-checkbox
                    #trailFromServer
                    color="primary"
                    [disabled]="!facade.settings.vesselTrail"
                    [(ngModel)]="facade.settings.selections.trailFromServer"
                    (change)="onFormChange($event, trailFromServer)"
                    matTooltip="Select to source trail data from the server"
                    label="after"
                  >
                    Get Trail from server
                  </mat-checkbox>
                  &nbsp;&nbsp;

                  <mat-slider
                    #trailDuration
                    thumbLabel
                    tickInterval="1"
                    min="1"
                    max="96"
                    color="primary"
                    [disabled]="!facade.settings.selections.trailFromServer || !facade.settings.vesselTrail"
                    [(ngModel)]="facade.settings.selections.trailDuration"
                    (change)="onFormChange($event, trailDuration, true)"
                  >
                  </mat-slider>
                  Length ({{facade.settings.selections.trailDuration}} hrs)
                </div>
              </div>
            </fieldset>
          </mat-card>

          <div class="setting-group-title">OTHER VESSELS</div>
          <mat-card class="setting-card">
            <div class="setting-card-row" style="padding-bottom: 10px">
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #aisstaleage
                    [(value)]="facade.settings.selections.aisStaleAge"
                    (selectionChange)="onFormChange($event, aisstaleage)"
                    placeholder="Mark AIS target inactive after"
                  >
                    <mat-option
                      *ngFor="let i of facade.list.aisTimeouts | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #aismaxage
                    [(value)]="facade.settings.selections.aisMaxAge"
                    (selectionChange)="onFormChange($event, aismaxage)"
                    placeholder="Remove AIS target after"
                  >
                    <mat-option
                      *ngFor="let i of facade.list.aisTimeouts | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #aiswindvector
                    [(value)]="facade.settings.selections.aisWindApparent"
                    (selectionChange)="onFormChange($event, aiswindvector)"
                    placeholder="Wind Vector Value"
                  >
                    <mat-option
                      *ngFor="let i of facade.preferredValues.wind | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #aiswindminzoom
                    [(value)]="facade.settings.selections.aisWindMinZoom"
                    (selectionChange)="onFormChange($event, aiswindminzoom)"
                    placeholder="Wind / Trail Zoom Level"
                  >
                    <mat-option
                      *ngFor="let i of facade.list.minZoom"
                      [value]="i"
                      >{{i}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="setting-card-row-item">
                <mat-checkbox
                  #aisShowTrack
                  color="primary"
                  [(ngModel)]="facade.settings.aisShowTrack"
                  (change)="onFormChange($event, aisShowTrack)"
                  label="after"
                >
                  Show Trails
                </mat-checkbox>
                &nbsp;
                <mat-checkbox
                  #aisStateMoored
                  color="primary"
                  [(ngModel)]="aisStateFilter.moored"
                  (change)="onAisStateFilter()"
                  label="after"
                >
                  Hide Moored
                </mat-checkbox>
                &nbsp;
                <mat-checkbox
                  #aisStateAnchored
                  color="primary"
                  [(ngModel)]="aisStateFilter.anchored"
                  (change)="onAisStateFilter()"
                  label="after"
                >
                  Hide Anchored
                </mat-checkbox>
              </div>

              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #aisprofile
                    [(value)]="facade.settings.selections.aisProfile"
                    (selectionChange)="onFormChange($event, aisprofile)"
                    placeholder="Display Profile"
                  >
                    <mat-option
                      *ngFor="let i of facade.list.aisProfiles | keyvalue"
                      [value]="i.key"
                      >{{i.value}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectNotes">
          <div class="setting-group-title">RESOURCES: NOTES</div>
          <mat-card class="setting-card">
            <div class="setting-card-row">
              <div class="setting-card-row-item">
                <mat-checkbox
                  #shownotes
                  color="primary"
                  [(ngModel)]="facade.settings.notes"
                  (change)="onFormChange($event, shownotes)"
                  label="after"
                >
                  Display Notes on Map
                </mat-checkbox>
              </div>
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    #notesminzoom
                    [disabled]="!facade.settings.notes"
                    [(value)]="facade.settings.selections.notesMinZoom"
                    (selectionChange)="onFormChange($event, notesminzoom)"
                    placeholder="Notes Zoom Level"
                  >
                    <mat-option
                      *ngFor="let i of facade.list.minZoom"
                      [value]="i"
                      >{{i}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="setting-card-row">
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%">
                  <mat-select
                    id="notesgetradius"
                    #notesgetradius
                    [disabled]="!facade.settings.notes"
                    [(value)]="facade.settings.resources.notes.getRadius"
                    (selectionChange)="onFormChange($event, notesgetradius)"
                    [placeholder]="'Fetch Notes radius: (' + facade.availableUnits.distance.get(distunits.value) + ')'"
                  >
                    <mat-option
                      *ngFor="let i of facade.list.resourceRadius"
                      [value]="i"
                      >{{i}}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="setting-card-row">
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%" floatLabel="always">
                  <mat-label>Notes fetch filter:</mat-label>
                  <input
                    matInput
                    type="text"
                    #notesrootfilter
                    [(ngModel)]="facade.settings.resources.notes.rootFilter"
                    (change)="onFormChange($event, notesrootfilter)"
                    placeholder="?radius=%note:radius%"
                    matTooltip="Filter to apply when retrieving notes"
                  />
                  <button
                    mat-button
                    *ngIf="notesrootfilter.value"
                    matSuffix
                    mat-icon-button
                    (click)="notesrootfilter.value=''"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="setting-card-row">
              <div class="setting-card-row-item">
                <mat-checkbox
                  #groupeditable
                  color="primary"
                  [(ngModel)]="facade.settings.resources.notes.groupNameEdit"
                  (change)="onFormChange($event, groupeditable)"
                  matTooltip="Allow group name editing."
                  label="after"
                >
                  Edit Group Names
                </mat-checkbox>
              </div>
              <div class="setting-card-row-item">
                <mat-checkbox
                  #groupposition
                  color="primary"
                  [(ngModel)]="facade.settings.resources.notes.groupRequiresPosition"
                  (change)="onFormChange($event, groupposition)"
                  matTooltip="Require position information when adding notes to a group."
                  label="after"
                >
                  Position Group Note
                </mat-checkbox>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectVideo">
          <div class="setting-group-title">RESOURCES: VIDEO</div>
          <mat-card class="setting-card">
            <div class="setting-card-row">
              <div class="setting-card-row-item">
                <mat-checkbox
                  #enablevideo
                  color="primary"
                  [(ngModel)]="facade.settings.resources.video.enable"
                  (change)="onFormChange($event, enablevideo)"
                  label="after"
                >
                  Enable Video
                </mat-checkbox>
              </div>
              <div class="setting-card-row-item">
                <mat-form-field style="width: 100%" floatLabel="always">
                  <mat-label>url:</mat-label>
                  <input
                    matInput
                    type="text"
                    #videourl="ngModel"
                    required
                    [disabled]="!facade.settings.resources.video.enable"
                    [(ngModel)]="facade.settings.resources.video.url"
                    (change)="onFormChange($event, videourl)"
                    placeholder="Video stream url"
                    matTooltip="Enter URL of video stream"
                  />
                  <mat-error *ngIf="videourl.invalid">
                    Value required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectResLayers">
          <div class="setting-group-title">RESOURCES: LAYERS</div>
          <mat-card class="setting-card">
            <div class="setting-card-row">
              <div class="setting-card-row-item">
                <div style="font-style: italic">
                  path: ./resources/&lt;name&gt;
                </div>
                <mat-selection-list
                  #respath
                  (selectionChange)="onResPathSelected($event, respath)"
                >
                  <mat-list-option
                    *ngFor="let f of facade.list.resourcePaths"
                    color="primary"
                    [selected]="facade.settings.resources.paths.includes(f)"
                    [value]="f"
                  >
                    {{f}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectSKConnection">
          <div class="setting-group-title">SIGNAL K: CONNECTION</div>
          <mat-card class="setting-card">
            <div class="setting-card-row-item">
              <mat-checkbox
                #skproxied
                color="primary"
                [(ngModel)]="facade.settings.selections.signalk.proxied"
                (change)="onFormChange($event, skproxied)"
                matToolTip="Check if Signal K server is behind a proxy"
                matTooltipPosition="below"
                label="after"
              >
                Signal K server is behind a proxy.
              </mat-checkbox>
              <mat-error>Refresh required after change!</mat-error>
            </div>
            <div class="setting-card-row">
              <fieldset>
                <legend>Filter Stream data:</legend>
                <span style="font-size: smaller">
                  Check to include Signal K schema groups on display.<br />
                  <i>Use to manage display performance.</i>
                </span>
                <div class="setting-card-row-item">
                  <mat-checkbox
                    #skfiltervessels
                    color="primary"
                    [(ngModel)]="facade.settings.selections.signalk.vessels"
                    (change)="onFormChange($event, skfiltervessels)"
                    matToolTip="Check to receive other vessel data"
                    label="after"
                  >
                    Vessels (other than Self)
                  </mat-checkbox>
                </div>
                <div class="setting-card-row-item">
                  <mat-checkbox
                    #skfilteratons
                    color="primary"
                    [(ngModel)]="facade.settings.selections.signalk.atons"
                    (change)="onFormChange($event, skfilteratons)"
                    matToolTip="Check to receive AtoN data"
                    matTooltipPosition="below"
                    label="after"
                  >
                    Aids to Navigation (AtoN)
                  </mat-checkbox>
                </div>
                <div class="setting-card-row-item">
                  <mat-checkbox
                    #skfilterairsraft
                    color="primary"
                    [(ngModel)]="facade.settings.selections.signalk.aircraft"
                    (change)="onFormChange($event, skfilterairsraft)"
                    matTooltip="Check to receive aircraft data"
                    matTooltipPosition="below"
                    label="after"
                  >
                    Aircraft
                  </mat-checkbox>
                </div>
                <div class="setting-card-row-item">
                  <mat-checkbox
                    #skfiltersar
                    color="primary"
                    [(ngModel)]="facade.settings.selections.signalk.sar"
                    (change)="onFormChange($event, skfiltersar)"
                    matToolTip="Check to receive SaR data"
                    matTooltipPosition="below"
                    label="after"
                  >
                    Search and Rescue (SaR)
                  </mat-checkbox>
                </div>

                <div class="setting-card-row-item">
                  <br />
                  <mat-form-field style="width: 100%">
                    <mat-select
                      #skmaxradius
                      [(value)]="facade.settings.selections.signalk.maxRadius"
                      (selectionChange)="onFormChange($event, skmaxradius)"
                      placeholder="Max. distance from vessel"
                      matToolTip="Only include AIS targets within this distance"
                      matTooltipPosition="below"
                    >
                      <mat-option
                        *ngFor="let i of facade.list.aisMaxRadius | keyvalue"
                        [value]="i.key"
                        >{{i.value}}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </fieldset>
            </div>
          </mat-card>
        </div>

        <div class="setting-group" id="sectExperiments">
          <div class="setting-card-row-item">
            <mat-checkbox
              #experiments
              color="primary"
              [(ngModel)]="facade.settings.experiments"
              (change)="onFormChange($event, experiments)"
              matTooltip="Enable Experimental Features"
              label="after"
            >
              <mat-icon>science</mat-icon> Experimental Features
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="theme-page settings" *ngIf="display.paths">
      <div class="theme-panel">
        <signalk-preferred-paths
          title="Preferred Paths"
          (chosen)="onPreferredPaths($event)"
        >
        </signalk-preferred-paths>
      </div>
    </div>
  </div>
</div>
