:host ::ng-deep .mat-dialog-content {
    padding: 0 4px;
}

.settings .setting-group-title {
    font-weight: bold;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0 10px 0;
}
.setting-card-row {
    display: flex;
    flex-wrap: wrap;
}
.settings .setting-card-row-item {
    padding-right: 15px;
    flex: 1 1 auto;
}

.left-settings-menu {
    display: block;
    position: fixed;
    min-width: 140px;
    overflow: auto;
    height: 58%;
}

.left-settings-menu-button {
    display: none;
}

.right-settings-content {
    margin-left: 140px;
}

/*ipads*/
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px),
/*desktop / laptop */
only screen	and (min-width : 800px) {
}
/*xs*/
@media only screen and (max-width: 599px) {
	.settings .setting-group {
		padding: 5px 5% 5px 5%;
    }
    .left-settings-menu {
        display: none;
    } 
    .left-settings-menu-button {
        display: initial;
    }
    .right-settings-content {
        margin-left: initial;
    }   	
}
@media only screen and (max-height: 500px) {
	.left-settings-menu {
        height: 55%;
    }	
}
/*sm*/
@media only screen and (min-width: 600px) and (max-width: 959px),
/*md*/
screen and (min-width: 960px) and (max-width: 1279px),
/*lg*/
screen and (min-width: 1280px) and (max-width: 1919px),
/*xl*/
screen and (min-width: 1920px) and (max-width: 5000px) {
    .settings .setting-group {
        padding: 5px 5% 5px 5%;
    } 
}