/** main app styles **/

/** Material style overrides **/
mat-sidenav-container {
    height:100%;
}
mat-sidenav {
    width: 200px;
}
mat-nav-list {
    padding-top: 0;
}

/** Main App fullscreen Frame **/
.appframe {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;  
    overflow: hidden;  
}

.view {
    top: 0;
	bottom: 0;
    right: 0;
	left: 0px;
    overflow: auto;
    scrollbar-width: none;
    position: fixed;
	border-top: silver 0px solid;
}

.leftMenuPanel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 0px;
    z-index: 5000; 
    background-color: rgba(200,200,200,.4);
    width: 315px;
}

.buttonPanel { 
    width:50px; 
    z-index: 200;
    position: absolute;
    padding: 5px 2px 2px 2px;
    overflow: auto;
    scrollbar-width: none;
}

.buttonPanel.rightTop { 
    right: 0px;
    top: 0px;
    padding: 9px 2px 10px 2px;
}

.buttonPanel.leftTop { 
    left: 0px;
    top: 0px;
    padding: 9px 2px 10px 2px;
}

.buttonPanel.left { 
    top: 60px;
    left: 0px;
    bottom: 0px;
}

.buttonPanel.right { 
    top: 60px;
    right: 0px;
    bottom: 0px;
}

.buttonPanel .buttonPanelItem {
    text-align: center;
    height: 48px;
    padding: 5px 0 5px 0;
}

.mapButton {
    position: fixed;
    z-index: 4900;
}

.alarmPanel {
    position: absolute;
    z-index: 4902;
    top: 55px;
    left: 15%;
    right: 15%;
}

.measurePanel {
    position: absolute;
    top: 60px;
    left: 50px;
    width: 150px;
    border: black 1px solid;
    font-family: roboto;
    font-size: 10pt;
}

.playbackPanel {
    position: absolute;
    z-index: 4900;
    bottom: 150px; 
    left: 50px; 
    top: auto; 
    width:100px; 
    border: gray 1px solid;
    border-radius: 5px;
    font-family: roboto;
    text-align:center;
}

.navdataPanel {
    position: absolute;
    z-index: 4901;
    bottom: 30px;
    left: 50px;
    max-width: calc(100% - 55px);
    max-height: 100px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border: gray 1px solid;
}

.bottomSheet {
    position: absolute;
    z-index: 4902;
    bottom: 0;
    left: 15%;
    min-width: 400px;
    max-width: 100%;
    height: 180px;
    overflow: auto;
}

.bottomSheet .title {
    flex: 1 1 auto;
    text-align: center;
    font-family: roboto;
    font-weight: 500;
    line-height: 2.5em;
}

.control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
  }

  .ol-mouse-position {
    position: fixed; 
    bottom:10px; 
    right:45%; 
    color: rgb(30,30,30);
    font-family:roboto; 
    background-color: rgba(250,250,250,.7);    
}

.ol-zoom {
    position: fixed; 
    top:10px;
    left:100px; 
    color: rgb(30,30,30);
    font-family:roboto; 
    background-color: transparent;  
    height: 45px;
}

.instrumentPanelToggle {
    display: block;
} 

@media only screen and (max-width: 650px) {  
    .bottomSheet {
        left: 0;
        min-width: 100%;
    }       
}

@media only screen and (max-width: 800px) { 
    .instrumentPanelToggle {
        display: none;
    }     
}
