<div [ngClass]="{'dark-theme': app.config.darkMode.enabled}">
    <div class="appframe mat-app-background">
        <!-- TOOLBAR-->
        <div class="mainToolBar">
            <button mat-icon-button 
                [disabled]="draw.enabled || measure.enabled"
                matTooltip="Menu" matTooltipPosition="right"
                (click)="sidemenu.toggle()">
                <mat-icon  style="color:white"
                    [matBadge]="display.badge.value" 
                    matBadgeOverlap="true" matBadgeColor="warn"
                    [matBadgeHidden]="display.badge.hide">menu</mat-icon>
            </button>
            <hr>     
            <button mat-icon-button 
                matTooltip="Alarms" matTooltipPosition="right"
                (click)="sidemenu.close(); openAlarmsDialog()">
                <mat-icon style="color: orangered">warning</mat-icon>
            </button>
            <hr>   
            <button mat-icon-button
                [disabled]="draw.enabled || measure.enabled"
                matTooltip="Routes, Waypoints, Notes, etc." matTooltipPosition="right"
                (click)="sidemenu.close();"
                [matMenuTriggerFor]="layersmenu">
                <mat-icon style="color:rgb(0,255,0);">layers</mat-icon>
            </button>   
            <hr>        
            <button mat-icon-button 
                [disabled]="draw.enabled || measure.enabled"
                matTooltip="Draw / Measure" matTooltipPosition="right"
                (click)="sidemenu.close();"
                [matMenuTriggerFor]="editmenu">
                <mat-icon style="color:white">edit</mat-icon>
            </button>                 
            <hr> 	        
            <button mat-icon-button (click)="toggleNorthUp()"
                [matTooltip]="app.config.map.northUp ? 'Show Heading Up' : 'Show North Up'"
                matTooltipPosition="right">
                <mat-icon [style.color]="app.config.map.northUp ? 'white' : 'yellow'">
                    {{app.config.map.northUp ? 'navigation' : 'explore'}}
                </mat-icon>			
            </button>          
            <hr>
            <button mat-icon-button (click)="toggleMoveMap()"
                [disabled]="!app.data.vessels.showSelf"
                [matTooltip]="app.config.map.moveMap ? 'Turn off Follow Vessel' : 'Follow Vessel' " 
                matTooltipPosition="right">
                <mat-icon [style.color]="!app.data.vessels.showSelf ? 'silver' : app.config.map.moveMap ? 'yellow' : 'white'">
                    my_location
                </mat-icon>	
            </button> 
            <hr *ngIf="!app.config.map.moveMap">
            <button mat-icon-button *ngIf="!app.config.map.moveMap"
                (click)="centerVessel()"
                [disabled]="!app.data.vessels.showSelf"
                matTooltip="Center Vessel" matTooltipPosition="right">
                <mat-icon [style.color]="!app.data.vessels.showSelf ? 'silver' : 'white'">
                    center_focus_strong
                </mat-icon>			
            </button>        
            <hr>
            <button mat-icon-button 
                [disabled]="draw.enabled || measure.enabled"
                matTooltip="More actions" matTooltipPosition="right"
                (click)="sidemenu.close();"
                [matMenuTriggerFor]="settingsmenu">
                <mat-icon style="color:white">more_horiz</mat-icon>
            </button>      
            <!-- Playback mode -->
            <hr *ngIf="mode==1" >
            <button mat-icon-button *ngIf="mode==1" 
                matTooltip="Exit playback mode"  matTooltipPosition="right"
                (click)="showSelectMode()">
                <mat-icon style="color:red;">cancel</mat-icon>
            </button>
        </div>
        <!-- /TOOLBAR-->

        <!--context menus-->
        <mat-menu #layersmenu="matMenu">   
            <button mat-menu-item
                (click)="sidemenu.close();displayLeftMenu('routeList',true)">
                <mat-icon color="primary">directions</mat-icon>
                &nbsp;Routes
            </button>   
            <button mat-menu-item 
                (click)="sidemenu.close();displayLeftMenu('waypointList',true)">
                <mat-icon color="accent">location_on</mat-icon>
                &nbsp;Waypoints
            </button>  
            <button mat-menu-item 
                (click)="sidemenu.close();displayLeftMenu('noteList',true)">
                <mat-icon>local_offer</mat-icon>
                &nbsp;Notes
            </button>   
            <button mat-menu-item 
                (click)="sidemenu.close();displayLeftMenu('chartList',true)">
                <mat-icon>map</mat-icon>
                &nbsp;Charts
            </button>     
            <div *ngIf="app.config.resources.paths.length!=0">
                <mat-divider></mat-divider>
                <div *ngFor="let p of app.config.resources.paths.sort()" [ngSwitch]="p">
                    <button *ngSwitchCase="'tracks'"
                        mat-menu-item
                        (click)="openExperiment({choice: p, value: null})">
                        <mat-icon color="warn">show_chart</mat-icon>
                        <span>Tracks</span>			
                    </button>  
                    <button *ngSwitchDefault
                        mat-menu-item 
                        (click)="sidemenu.close();openExperiment({choice: p, value: null})">
                        <mat-icon>category</mat-icon>
                        &nbsp;{{p}}
                    </button>
                </div>
            </div>     
        </mat-menu>

        <mat-menu #settingsmenu="matMenu">   
            <a mat-menu-item *ngIf="app.config.vesselTrail && app.data.trail.length!=0" 
                (click)="clearTrail(app.data.serverTrail)">
                <mat-icon>clear_all</mat-icon>
                <span>{{app.data.serverTrail ? 'Refresh' : 'Clear'}} Trail</span>			
            </a>
            <button mat-menu-item 
                (click)="deactivateRoute()">
                <mat-icon>clear_all</mat-icon>
                <span *ngIf="app.data.activeRoute">Clear Active Route</span>
                <span *ngIf="!app.data.activeRoute">Clear Destination</span>			
            </button>     
            <button mat-menu-item 
                (click)="clearCourseData()">
                <mat-icon>clear_all</mat-icon>
                <span>Clear Course Data</span>			
            </button>                
            <mat-divider></mat-divider>   
            <a mat-menu-item (click)="toggleCourseData()">
                <mat-icon>{{app.config.courseData ? 'visibility_off' : 'compare_arrows'}}</mat-icon>
                <span>{{app.config.courseData ? 'Hide' : 'Show'}} Course Data</span>			
            </a>	             
            <a mat-menu-item (click)="toggleAisTargets()">
                <mat-icon>{{app.config.aisTargets ? 'visibility_off' : 'directions_boat'}}</mat-icon>
                <span>{{app.config.aisTargets ? 'Hide' : 'Show'}} Vessels</span>			
            </a>     
            <a mat-menu-item (click)="toggleNotes()">
                <mat-icon>{{app.config.notes ? 'visibility_off' : 'local_offer'}}</mat-icon>
                <span>{{app.config.notes ? 'Hide' : 'Show'}} Notes</span>			
            </a>      
            <mat-divider></mat-divider>          
            <a mat-menu-item (click)="openSettings()">
                <mat-icon color="primary">settings</mat-icon>
                <span>Settings</span>			
            </a>			
        </mat-menu> 

        <mat-menu #editmenu="matMenu">
            <a mat-menu-item (click)="measureStart()">
                <mat-icon>straighten</mat-icon>
                <span>Measure</span>			
            </a>  
            <a mat-menu-item (click)="drawStart('note')">
                <mat-icon color="primary">local_offer</mat-icon>
                <span>Add Note</span>			
            </a>   
            <a mat-menu-item (click)="drawStart('region')">
                <mat-icon color="primary">tab_unselected</mat-icon>
                <span>Draw Region + Note</span>			
            </a>           
            <mat-divider></mat-divider>                   
            <a mat-menu-item *ngIf="app.data.vessels.showSelf"
                (click)="skres.showWaypointEditor(null, app.data.vessels.active.position)">
                <mat-icon>add_location</mat-icon>
                <span>Add Waypoint at Vessel</span>			
            </a>
            <a mat-menu-item (click)="drawStart('waypoint')">
                <mat-icon color="primary">edit_location</mat-icon>
                <span>Drop Waypoint</span>			
            </a>                    
            <mat-divider></mat-divider>   
            <a mat-menu-item (click)="drawStart('route')">
                <mat-icon color="primary">directions</mat-icon>
                <span>Draw Route</span>			
            </a>                                         			
        </mat-menu>   
        <!--/context menus-->

        <!-- content -->
        <div class="view" theme-main>
            <mat-sidenav-container hasBackdrop="false">

                <!--left menu-->
                <mat-sidenav #sidemenu mode="over"
                    (openedChange)="leftSideNavAction($event)">
                    <mat-nav-list>	
                        <a mat-list-item (click)="sidemenu.close();">                      
                            <mat-icon>arrow_back</mat-icon>
                            <span matLine>
                                <a mat-icon-button
                                    (click)="openAbout()"
                                    matTooltip="About Freeboard"
                                    matTooltipPosition="right">
                                    <mat-icon color="primary">info_outline</mat-icon>
                                </a>  
                                
                                <button mat-icon-button
                                    (click)="app.showHelp()"
                                    matTooltip="Open Help."
                                    matTooltipPosition="right">
                                    <mat-icon color="primary">help</mat-icon>
                                </button>                          
                            </span> 
                        </a>
                        <mat-divider></mat-divider>                      

                        <ap-file-input [astext]="true" (chosen)="processGPX($event)">
                            <a mat-list-item>
                                <mat-icon>streetview</mat-icon>
                                &nbsp;Load GPX
                            </a>                  
                        </ap-file-input>   

                        <ap-file-input [astext]="true" (chosen)="processGeoJSON($event)">
                            <a mat-list-item>
                                <mat-icon>public</mat-icon>
                                &nbsp;Load GeoJSON
                            </a>                  
                        </ap-file-input>

                        <a mat-list-item (click)="sidemenu.close();uploadResources()">
                            <mat-icon>category</mat-icon>
                            &nbsp;Load Resource
                        </a>                       

                        <a mat-list-item 
                            (click)="sidemenu.close();displayLeftMenu('aisList',true)">
                            <mat-icon>directions_boat</mat-icon>
                            &nbsp;Vessels
                        </a>                                        
                            
                        <mat-divider></mat-divider>
                        <a mat-list-item 
                            *ngIf="!draw.enabled || !measure.enabled"
                            (click)="sidemenu.close();displayLeftMenu('anchorWatch',true)">
                            <mat-icon><i class="fi-anchor"></i></mat-icon>
                            &nbsp;Anchor Watch
                        </a>                     

                        <a mat-list-item *ngIf="features.playbackAPI"
                            (click)="sidemenu.close();showPlaybackSettings();">
                            <mat-icon>history</mat-icon>
                            &nbsp;Playback History
                        </a> 

                        <mat-divider></mat-divider>
                        <a mat-list-item (click)="sidemenu.close();openSettings()">
                            <mat-icon color="primary">settings</mat-icon>
                            &nbsp;Settings
                        </a>   
                        
                        <a mat-list-item
                            (click)="sidemenu.close();showLogin(null, false)">
                            <mat-icon>account_circle</mat-icon>
                            &nbsp;{{app.data.loggedIn ? 'Change User' : 'Login'}}
                        </a>                        
                    </mat-nav-list>               
                </mat-sidenav>

                <!--instruments-->
                <mat-sidenav #sideright *ngIf="app.data.optAppPanel" mode="over" position="end" 
                    (openedChange)="rightSideNavAction($event)"
                    style="width:350px;">
                    <div style="display:flex;flex-direction: column;position:relative;">
                        <mat-nav-list >	
                            <a mat-list-item >
                                <a mat-icon-button (click)="sideright.toggle();">
                                    <mat-icon>arrow_forward</mat-icon>
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a mat-icon-button [href]="instUrl"
                                    (click)="sideright.toggle();" 
                                    *ngIf="app.config.plugins.instruments"
                                    target="_blank" color="primary"
                                    matTooltip="Open Instruments in window."
                                    matTooltipPosition="right">
                                    <mat-icon>open_in_new</mat-icon>
                                </a>   
                                &nbsp;&nbsp;
                                <a mat-icon-button
                                    (click)="selectPlugin()" 
                                    [disabled]="app.config.selections.pluginFavourites.length==0"
                                    color="primary"
                                    matTooltip="Previous plugin"
                                    matTooltipPosition="below">
                                    <mat-icon>arrow_back_ios</mat-icon>
                                </a>                                 
                                <a mat-icon-button
                                    (click)="selectPlugin(true)" 
                                    [disabled]="app.config.selections.pluginFavourites.length==0"
                                    color="primary"
                                    matTooltip="Next plugin"
                                    matTooltipPosition="below">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </a>                                                         
                            </a>
                            <mat-divider></mat-divider>
                        </mat-nav-list>	 
                        <div style="position: fixed;bottom: 0;top: 48px;overflow:auto;-webkit-overfow-scrolling:touch;">
                            <iframe *ngIf="display.instrumentAppActive"
                                [src]="instUrl"
                                style="width:345px;height:100%;">
                            </iframe>
                        </div>  
                    </div>             
                </mat-sidenav>

                <!--left menu panel-->
                <div class="leftMenuPanel" *ngIf="display.leftMenuPanel">
                    <route-list *ngIf="display.routeList"
                        [routes]="app.data.routes" 
                        [activeRoute]="app.data.activeRoute" 
                        (select)="skres.routeSelected($event)"
                        (delete)="skres.showRouteDelete($event)"
                        (activate)="activateRoute($event.id)"
                        (deactivate)="deactivateRoute()"
                        (refresh)="skres.getRoutes(app.data.vessels.activeId)"
                        (properties)="skres.resourceProperties($event)"
                        (points)="featureProperties({id:$event.id, type:'route'})"
                        (closed)="displayLeftMenu()">
                    </route-list>

                    <waypoint-list *ngIf="display.waypointList"
                        [waypoints]="app.data.waypoints" 
                        [activeWaypoint]="app.data.activeWaypoint" 
                        (select)="skres.waypointSelected($event)"
                        (delete)="skres.showWaypointDelete($event)"
                        (goto)="skres.navigateToWaypoint($event)"
                        (deactivate)="deactivateRoute()"
                        (refresh)="skres.getWaypoints()"
                        (properties)="skres.resourceProperties($event)"
                        (center)="centerResource($event)"
                        (closed)="displayLeftMenu()">
                    </waypoint-list>       
                    
                    <chart-list *ngIf="display.chartList"
                        [charts]="app.data.charts" 
                        (select)="skres.chartSelected($event)"
                        (refresh)="skres.getCharts()"
                        (closed)="displayLeftMenu()">
                    </chart-list>   

                    <note-list [notes]="app.data.notes" *ngIf="display.noteList"
                        (select)="skres.noteSelected($event)"
                        (refresh)="skres.getNotes()"
                        (pan)="centerResource($event.center, $event.zoomLevel)"
                        (closed)="displayLeftMenu()">
                    </note-list>                 

                    <ais-list [aisTargets]="app.data.vessels.aisTargets" *ngIf="display.aisList"
                        [focusId]="app.data.vessels.activeId"
                        (select)="skres.aisSelected($event)"
                        (properties)="featureProperties({id: $event, type: 'ais'})"
                        (closed)="displayLeftMenu()"
                        (focusVessel)="switchActiveVessel($event)">
                    </ais-list>                   
                    
                    <anchor-watch *ngIf="display.anchorWatch"
                        min="10" max="500" 
                        [disable]="!app.data.vessels.showSelf"
                        [sliderValue]="app.config.anchorRadius"
                        [radius]="app.data.anchor.radius" 
                        [feet]="(app.config.units.depth!='m') ? true : false"
                        [raised]="app.data.anchor.raised"
                        (change)="alarmsFacade.anchorEvent($event, app.data.vessels.activeId, this.app.data.vessels.active.position)"
                        (closed)="displayLeftMenu()">
                    </anchor-watch>                     
                </div>            

                <!--map panel-->
                <div style="display: relative; width: 100%; height: 100%;" 
                    (dragover)="mapDragOver($event)" (drop)="mapDrop($event)">

                    <!-- utilities panel -->
                    <div class="rightUtilsPanel">
                        <div *ngIf="display.fullscreen.enabled">
                            <button mat-icon-button 
                                (click)="toggleFullscreen()"
                                matTooltip="Go Fullscreen"
                                matTooltipPosition="left">
                                <mat-icon>
                                    {{(display.fullscreen.active) ? 'fullscreen_exit ': 'fullscreen'}}
                                </mat-icon>
                            </button>                         
                        </div>                        
                        <br>&nbsp;<br>
                        <fb-experiments (selected)="openExperiment($event)"></fb-experiments>                   
                        <br>&nbsp;<br>    
                        <div *ngIf="app.config.resources.video.enable && app.config.resources.video.url">
                            <pip-video
                                [src]="vidUrl" [muted]="true"
                                (click)="focusMap()">
                            </pip-video>
                        </div>
                        <div class="fab-container">
                            <button mat-mini-fab color="accent"
                                (click)="skres.showWaypointEditor(null, app.data.vessels.self.position)"
                                matTooltip="Mark Vessel position"
                                matTooltipPosition="left">
                                <mat-icon>add_location</mat-icon>
                            </button>
                        </div>
                    </div>
                    
                    <!-- instrument sidebar open button -->
                    <button mat-mini-fab *ngIf="app.data.optAppPanel && (!draw.enabled && !measure.enabled) && !app.data.vessels.activeId"
                        class="mapButton nosmall" 
                        style="top:10px;right:20px;"
                        (click)="sideright.toggle()"
                        matTooltip="Instruments" matTooltipPosition="below">
                        <mat-icon>av_timer</mat-icon>
                    </button>

                    <!-- MAP -->
                    <fb-map
                        [setFocus]="display.map.setFocus"
                        [mapCenter]="display.map.center"
                        [mapZoom]="app.config.map.zoomLevel"
                        [northUp]="app.config.map.northUp"
                        [movingMap]="app.config.map.moveMap"
                        [vesselTrail]="app.data.trail"
                        [measureMode]="measure.enabled"
                        [activeRoute]="app.data.activeRoute"
                        (measureStart)="measureStart()"
                        (measureEnd)="measure.enabled=false"
                        [drawMode]="draw.mode"
                        (drawEnd)="handleDrawEnd($event)"
                        [modifyMode]="draw.modify"
                        (modifyStart)="handleModifyStart($event)"
                        (modifyEnd)="handleModifyEnd($event)"
                        (activate)="activateRoute($event)"
                        (deactivate)="deactivateRoute()"
                        (exitedMovingMap)="toggleMoveMap($event)"
                        (focusVessel)="switchActiveVessel($event)"
                        (info)="featureProperties($event)"
                        (anchor)="sidemenu.close();displayLeftMenu('anchorWatch',true)">
                    </fb-map>
                    <!-- *** /MAP *** -->     

                </div>

                <!-- North Arrow -->
                <div style="position: absolute; top: 60px; left:10px; 
                        width:50px;">
                    <img #northArrow src="./assets/img/north_arrow.svg" 
                        [style.transform]="getOrientation()"
                        style="width:50px;"/>            
                </div>                      
                <!--/map panel-->

                <!-- Draw / Measure Help -->
                <div *ngIf="draw.enabled || draw.modify || measure.enabled"
                    class="mat-app-background"
                    style="position: absolute; top: 60px; left:10px; 
                        width:150px;
                        border: inherit 1px solid;
                        font-family:roboto; 
                        font-size: 10pt;
                        padding: 1em;
                        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                        ">

                    <div *ngIf="draw.enabled">
                        <span style="font-weight:bold;padding: 5px;">
                            <mat-icon>edit</mat-icon> Drawing Help:
                        </span>
                        <div *ngIf="draw.mode=='waypoint' || draw.mode=='note'"
                            style="padding: 5px;">
                            Click on the Map where to drop the feature.
                        </div>
                        <div *ngIf="draw.mode=='route'"
                            style="padding: 5px;">
                            <ol style="margin-block-start: .2em;
                                    margin-block-end: .2em;
                                    padding-inline-start: 15px;">
                                <li>Click on the Map to place a point along the Route.</li>
                                <li>Click on the last Point to end drawing.</li>
                            </ol>
                        </div> 
                        <div *ngIf="draw.mode=='region'"
                            style="padding: 5px;">
                            <ol style="margin-block-start: .2em;
                                    margin-block-end: .2em;
                                    padding-inline-start: 15px;">
                                <li>Click on the Map to place a vertex of the Region.</li>
                                <li>Click on the last point to end drawing.</li>
                            </ol>
                        </div>                     
                    </div>
                    <div *ngIf="draw.modify">
                            <span style="font-weight:bold;padding: 5px;">
                                <mat-icon>edit</mat-icon> Modify:
                            </span>
                            <div style="padding: 5px;">
                                <ol style="margin-block-start: .2em;
                                        margin-block-end: .2em;
                                        padding-inline-start: 15px;">
                                    <li>Click and drag to move point.</li>
                                    <li>Alt-Click to remove point from line.</li>
                                </ol>
                            </div> 
                        </div>                 
                    <div *ngIf="measure.enabled">
                        <span style="font-weight:bold;padding: 5px;">
                            <mat-icon>straighten</mat-icon> Measure:
                        </span>
                        <div style="padding: 5px;">
                            <ol style="margin-block-start: .2em;
                                    margin-block-end: .2em;
                                    padding-inline-start: 15px;">
                                <li>Click on the Map to start measuring.</li>
                                <li>Click on the last Point to end measuring.</li>
                            </ol>
                        </div> 
                    </div>   
                    <div style="text-align: center;">
                    <!-- cancel Draw / Measure button -->
                    <a mat-raised-button
                        color="warn" *ngIf="draw.enabled || draw.modify || measure.enabled"
                        (click)="cancelDraw()"
                        [matTooltip]="(measure.enabled) ? 'Cancel Measure' : (draw.modify) ? 'Cancel Editing' : 'Cancel Draw'" 
                        matTooltipPosition="left">
                        <mat-icon>close</mat-icon>
                        {{ (draw.modify) ? 'FINISH' : 'CANCEL'}}
                    </a>                      
                    </div>             
                </div>         

                <!-- *** Playback panel ***-->
                <div class="playbackPanel mat-app-background" *ngIf="mode==1">
                    <div style="border-radius: 5px;">
                        <mat-icon color="accent">access_time</mat-icon> <b>Playback:</b>
                    </div>
                    <div style="text-align:center;"> {{display.playback.time}}</div>
                </div>

                <!-- *** Alarm / Mode panel ***-->
                <div class="alarmPanel">
                    <span *ngFor="let a of alarmsFacade.alarms | keyvalue" style="margin-bottom: 5px;">
                        <ap-alarm [alarm]="a" 
                            (mute)="alarmsFacade.muteAlarm($event)"
                            (acknowledge)="alarmsFacade.acknowledgeAlarm($event)"
                            (unacknowledge)="alarmsFacade.unAcknowledgeAlarm($event)"
                            (clear)="alarmsFacade.clearAlarm($event)"
                            (open)=" openAlarmsDialog($event)">
                        </ap-alarm>
                        <audio loop *ngIf="a.value.sound"
                            [src]="(['nominal','warn'].includes(a.value.state)) ? './assets/sound/ding.mp3' : './assets/sound/woop.mp3'" 
                            [autoplay]="!a.value.muted || !a.value.acknowledged"
                            [muted]="a.value.muted || a.value.acknowledged"
                        ></audio>
                    </span>
                </div>

                <!-- *** Nav data panel ***-->
                <div class="navdataPanel" >
                    <route-nextpoint *ngIf="display.navDataPanel.nextPointCtrl"
                        [index]="app.data.navData.pointIndex"
                        [total]="app.data.navData.pointTotal"
                        (selected)="routeNextPoint($event)">
                    </route-nextpoint>

                    <div *ngIf="app.config.courseData && display.navDataPanel.show"
                            style="display: flex; flex-wrap: nowrap;">    
                        <div class="mat-app-background">
                            <button mat-button 
                                [matTooltip]="display.navDataPanel.apModeText"
                                [disabled]="!app.data.vessels.self.autopilot.state" 
                                >
                                <mat-icon [color]="display.navDataPanel.apModeColor"
                                >alt_route</mat-icon>
                            </button><br>
                            <button mat-button matTooltip="Course Settings" 
                                (click)="openCourseSettings()">
                                <mat-icon>settings</mat-icon>
                            </button>
                        </div>                       
                        <ap-dial-text *ngIf="app.data.navData.vmg"
                            [title]="'VMG'"
                            [value]="app.data.navData.vmg.toFixed(1)"
                            [units]="(app.config.units.speed=='kn') ? 'knots' : 'm/sec'">
                        </ap-dial-text>
                        <ap-dial-text *ngIf="app.data.navData.bearing.value"
                            [title]="'BRG'"
                            [value]="app.data.navData.bearing.value.toFixed(1)"
                            [units]="(app.data.navData.bearing.type=='M') ? 'deg (M)' : 'deg (T)'">
                        </ap-dial-text>     
                        <ap-dial-text *ngIf="app.data.navData.dtg"
                            [title]="'DTG'"
                            [value]="app.data.navData.dtg.toFixed(1)"
                            [units]="(app.config.units.distance=='m') ? 'km' : 'NM'">
                        </ap-dial-text>                               
                        <ap-dial-text *ngIf="app.data.navData.ttg"
                            [title]="'TTG'"
                            [value]="app.data.navData.ttg.toFixed(1)"
                            [units]="'mins'">
                        </ap-dial-text>    
                        <ap-dial-text *ngIf="app.data.navData.xte"
                            [title]="'XTE'"
                            [value]="app.data.navData.xte.toFixed(3)"
                            [units]="(app.config.units.distance=='m') ? 'km' : 'NM'">
                        </ap-dial-text>   
                    </div>                           
                </div>

                <!-- *** Bottom sheet panel ***-->
                <div class="mat-app-background bottomSheet" *ngIf="display.bottomSheet.show">
                    <div style="display:flex;">
                        <div class="title">
                            {{display.bottomSheet.title}}
                        </div>
                        <div>
                            <button mat-icon-button (click)="closeBottomSheet()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div>
                        <mat-divider></mat-divider>
                        <grib-panel 
                            [zoomLevel]="app.config.map.zoomLevel" 
                            [minZoom]="4"
                            (change)="selectGRIB($event)">
                        </grib-panel>    
                    </div>        
                </div>                
            
            </mat-sidenav-container>
        </div>
        <!-- /content -->
        
    </div>
</div>
