<div
  [ngClass]="{
    'dark-theme': app.config.darkMode.enabled,
    'app-night': stream.selfNightMode()
  }"
>
  <div class="appframe mat-app-background">
    <!--toolbar button menus-->
    <mat-menu #layersmenu="matMenu">
      <button mat-menu-item (click)="displayLeftMenu('routeList', true)">
        <mat-icon class="icon-route" svgIcon="route"></mat-icon>
        &nbsp;Routes
      </button>
      <button mat-menu-item (click)="displayLeftMenu('waypointList', true)">
        <mat-icon class="icon-waypoint">location_on</mat-icon>
        &nbsp;Waypoints
      </button>
      <button mat-menu-item (click)="displayLeftMenu('noteList', true)">
        <mat-icon>local_offer</mat-icon>
        &nbsp;Notes
      </button>
      <button mat-menu-item (click)="displayLeftMenu('chartList', true)">
        <mat-icon>map</mat-icon>
        &nbsp;Charts
      </button>
      @if(app.featureFlags().resourceGroups) {
      <button mat-menu-item (click)="displayLeftMenu('resourceGroups', true)">
        <mat-icon>category</mat-icon>
        &nbsp;Groups
      </button>
      }

      <mat-divider></mat-divider>
      <button mat-menu-item>
        <ap-file-input
          accept=".gpx,.json"
          [astext]="true"
          (chosen)="importFile($event)"
        >
          <mat-icon class="ob" svgIcon="route-import"></mat-icon>
          Import
        </ap-file-input>
      </button>
      <button mat-menu-item (click)="exportToGPX()">
        <mat-icon class="ob" svgIcon="route-export"></mat-icon>
        &nbsp;Export
      </button>

      @if(app.config.resources.paths.length !== 0) {
      <div>
        <mat-divider></mat-divider>
        @for(p of app.config.resources.paths.sort(); track p) {
        <div>
          @switch(p) { @case('tracks') {
          <button mat-menu-item (click)="displayLeftMenu('trackList', true)">
            <mat-icon class="icon-warn">show_chart</mat-icon>
            &nbsp;Tracks
          </button>
          } @default {
          <button
            mat-menu-item
            (click)="openExperiment({ choice: p, value: null })"
          >
            <mat-icon
              class="ob"
              svgIcon="chart-display-settings-iec"
            ></mat-icon>
            &nbsp;{{ p }}
          </button>
          } }
        </div>
        }
      </div>
      }
    </mat-menu>

    <mat-menu #settingsmenu="matMenu">
      @if(app.config.selections.vessel.trail && app.data.trail.length !== 0) {
      <a mat-menu-item (click)="clearTrail(app.data.serverTrail)">
        <mat-icon>clear_all</mat-icon>
        <span>{{ app.data.serverTrail ? 'Refresh' : 'Clear' }} Trail</span>
      </a>
      } @if(app.config.selections.vessel.trail && app.data.trail.length !== 0) {
      <a mat-menu-item (click)="trailToRoute()">
        <mat-icon>insights</mat-icon>
        <span>Trail to Route</span>
      </a>
      } @if(app.data.navData.position){
      <a mat-menu-item (click)="clearDestination()">
        <mat-icon>clear_all</mat-icon>
        @if(app.data.activeRoute) {
        <span>Clear Active Route</span>
        } @else {
        <span>Clear Destination</span>
        }
      </a>
      <a mat-menu-item (click)="clearCourseData()">
        <mat-icon>clear_all</mat-icon>
        <span>Clear Course Data</span>
      </a>
      }
      <mat-divider></mat-divider>
      <a mat-menu-item (click)="toggleCourseData()">
        <mat-icon>{{
          app.config.courseData ? 'visibility_off' : 'compare_arrows'
        }}</mat-icon>
        <span>{{ app.config.courseData ? 'Hide' : 'Show' }} Course Data</span>
      </a>
      <a mat-menu-item (click)="toggleAisTargets()">
        <mat-icon>{{
          app.config.aisTargets ? 'visibility_off' : 'directions_boat'
        }}</mat-icon>
        <span>{{ app.config.aisTargets ? 'Hide' : 'Show' }} Vessels</span>
      </a>
      <a mat-menu-item (click)="toggleNotes()">
        <mat-icon>{{
          app.config.notes ? 'visibility_off' : 'local_offer'
        }}</mat-icon>
        <span>{{ app.config.notes ? 'Hide' : 'Show' }} Notes</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item (click)="showWeather('forecast')">
        <mat-icon>air</mat-icon>
        <span>Weather Forecast</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item (click)="openSettings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-menu>

    <mat-menu #editmenu="matMenu">
      <a mat-menu-item (click)="mapInteract.startMeasuring()">
        <mat-icon>straighten</mat-icon>
        <span>Measure</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item (click)="drawFeature('route')">
        <mat-icon class="icon-route" svgIcon="route-planning"></mat-icon>
        <span>Draw Route</span>
      </a>
      <a mat-menu-item (click)="toggleRouteBuilderConsole(true)">
        <mat-icon class="icon-route" svgIcon="route-planning"></mat-icon>
        <span>Build Route</span>
      </a>
      <mat-divider></mat-divider>
      @if(app.data.vessels.showSelf) {
      <a
        mat-menu-item
        (click)="skres.newWaypointAt(app.data.vessels.active.position)"
      >
        <mat-icon class="icon-waypoint">add_location</mat-icon>
        <span>Add Waypoint at Vessel</span>
      </a>
      }
      <a mat-menu-item (click)="drawFeature('waypoint')">
        <mat-icon class="icon-waypoint">edit_location</mat-icon>
        <span>Drop Waypoint</span>
      </a>
      <mat-divider></mat-divider>
      @if(this.app.config.map.zoomLevel >=
      this.app.config.selections.notesMinZoom) {
      <a mat-menu-item (click)="drawFeature('note')">
        <mat-icon>local_offer</mat-icon>
        <span>Add Note</span>
      </a>
      }
      <a mat-menu-item (click)="drawFeature('region')">
        <mat-icon>tab_unselected</mat-icon>
        <span>Draw Region</span>
      </a>
    </mat-menu>

    <mat-menu #mainmenu="matMenu">
      @if(!app.hostDef.params.token && app.data.loginRequired){
      <a mat-menu-item (click)="showLogin(null, false)">
        <mat-icon
          matBadge="!"
          matBadgeOverlap="true"
          matBadgeSize="medium"
          matBadgePosition="below after"
          [matBadgeHidden]="app.isLoggedIn()"
          aria-hidden="false"
        >
          account_circle
        </mat-icon>
        <span>{{ app.isLoggedIn() ? 'Change User' : 'Login' }}</span>
      </a>
      }
      <mat-divider></mat-divider>
      @if(!isInteracting && app.featureFlags().anchorApi) {
      <a mat-menu-item (click)="displayLeftMenu('anchorWatch', true)">
        <mat-icon>anchor</mat-icon>
        <span>Anchor Watch</span>
      </a>
      }
      <a mat-menu-item (click)="displayLeftMenu('aisList', true)">
        <mat-icon>directions_boat</mat-icon>
        <span>Vessels</span>
      </a>

      <a mat-menu-item (click)="importResourceSet()">
        <mat-icon>upload</mat-icon>
        <span>Resource Sets</span>
      </a>

      @if(features.playbackAPI) {
      <a mat-menu-item (click)="showPlaybackSettings()">
        <mat-icon>history</mat-icon>
        <span>Playback History</span>
      </a>
      }

      <mat-divider></mat-divider>
      <a mat-menu-item (click)="openSettings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item (click)="openAbout()">
        <mat-icon class="icon-accent">info_outline</mat-icon>
        <span>About</span>
      </a>

      <button mat-menu-item (click)="app.showHelp()">
        <mat-icon class="icon-accent">help</mat-icon>
        <span>Help</span>
      </button>
    </mat-menu>
    <!--/toolbar button menus-->

    <!-- content -->
    <div class="view" theme-main>
      <mat-sidenav-container hasBackdrop="false">
        <!--instruments-->
        @if(app.instrumentPanelAvailable()) {
        <mat-sidenav
          #sideright
          mode="side"
          position="end"
          (openedChange)="rightSideNavAction($event)"
          style="width: 350px"
        >
          <div
            style="display: flex; flex-direction: column; position: relative"
          >
            <mat-nav-list>
              <a mat-list-item>
                <a mat-icon-button (click)="sideright.toggle()">
                  <mat-icon>arrow_forward</mat-icon>
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp; @if(app.config.plugins.instruments) {
                <a
                  mat-icon-button
                  [href]="instUrl"
                  (click)="sideright.toggle()"
                  target="_blank"
                  matTooltip="Open Instruments in window."
                  matTooltipPosition="right"
                >
                  <mat-icon>open_in_new</mat-icon>
                </a>
                } &nbsp;&nbsp;
                <a
                  mat-icon-button
                  (click)="selectPlugin()"
                  [disabled]="
                    app.config.selections.pluginFavourites.length === 0
                  "
                  matTooltip="Previous plugin"
                  matTooltipPosition="below"
                >
                  <mat-icon>arrow_back_ios</mat-icon>
                </a>
                <a
                  mat-icon-button
                  (click)="selectPlugin(true)"
                  [disabled]="
                    app.config.selections.pluginFavourites.length === 0
                  "
                  matTooltip="Next plugin"
                  matTooltipPosition="below"
                >
                  <mat-icon>arrow_forward_ios</mat-icon>
                </a>
              </a>
              <mat-divider></mat-divider>
            </mat-nav-list>
            <div
              style="
                position: fixed;
                bottom: 0;
                top: 48px;
                overflow: auto;
                -webkit-overfow-scrolling: touch;
              "
            >
              @if(display.instrumentAppActive) {
              <iframe
                [src]="instUrl"
                style="width: 345px; height: 100%"
                sandbox="allow-scripts allow-same-origin"
              >
              </iframe>
              }
            </div>
          </div>
        </mat-sidenav>
        }
        <mat-sidenav-content style="overflow: hidden">
          @if(app.sIsFetching()) {
          <div
            style="
              z-index: 4700;
              position: fixed;
              top: 0px;
              left: 0px;
              width: 100%;
            "
          >
            <mat-progress-bar mode="query"></mat-progress-bar>
          </div>
          } @if(app.uiCtrl().autopilotConsole) {
          <autopilot-console
            [apData]="app.data.vessels.self.autopilot"
            (close)="toggleAutopilotConsole(false)"
          ></autopilot-console>
          } @if(app.uiCtrl().routeBuilder) {
          <route-builder
            (save)="skres.newRouteAt($event.coordinates, $event.meta)"
            (close)="toggleRouteBuilderConsole(false)"
          >
          </route-builder>
          } @if(!app.kioskMode() && !this.app.uiCtrl().suppressContextMenu) {
          <!-- left button bar -->
          <div class="leftTop buttonPanel">
            <div class="buttonPanelItem">
              <button
                class="button-secondary"
                mat-mini-fab
                [disabled]="isInteracting"
                matBadge="!"
                matBadgeOverlap="true"
                [matBadgeHidden]="app.isLoggedIn()"
                matTooltip="Menu"
                matTooltipPosition="right"
                [matMenuTriggerFor]="mainmenu"
                aria-hidden="false"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
          @if(app.uiConfig().toolbarButtons) {
          <div class="buttonPanel left">
            <div class="buttonPanelItem">
              <button
                class="button-warn"
                mat-mini-fab
                matTooltip="Alarms"
                matTooltipPosition="left"
                [matBadge]="notiMgr.alerts().length"
                matBadgeOverlap="true"
                [matBadgeHidden]="notiMgr.alerts().length === 0"
                (click)="toggleAlertList(true)"
                aria-hidden="false"
              >
                <mat-icon class="ob" svgIcon="alert-list"></mat-icon>
              </button>
            </div>
            <div class="buttonPanelItem">
              <button
                class="button-accent"
                mat-mini-fab
                [disabled]="isInteracting"
                matTooltip="Routes, Waypoints, Notes, etc."
                matTooltipPosition="right"
                [matMenuTriggerFor]="layersmenu"
              >
                <mat-icon>layers</mat-icon>
              </button>
            </div>
            <div class="buttonPanelItem">
              <button
                class="button-toolbar"
                mat-mini-fab
                [disabled]="isInteracting"
                matTooltip="Draw / Measure"
                matTooltipPosition="right"
                [matMenuTriggerFor]="editmenu"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="buttonPanelItem">
              <button
                mat-mini-fab
                [ngClass]="{
                  'button-primary': !app.uiConfig().mapNorthUp,
                  'button-toolbar': app.uiConfig().mapNorthUp
                }"
                (click)="toggleNorthUp()"
                [matTooltip]="
                  app.config.map.northUp ? 'Show Heading Up' : 'Show North Up'
                "
                matTooltipPosition="right"
              >
                <mat-icon
                  class="ob"
                  [svgIcon]="
                    app.config.map.northUp ? 'heading-n-up' : 'heading-h-up'
                  "
                >
                </mat-icon>
              </button>
            </div>
            <div class="buttonPanelItem">
              <button
                mat-mini-fab
                [ngClass]="{
                  'button-primary': app.config.map.moveMap,
                  'button-toolbar': !app.config.map.moveMap
                }"
                (click)="toggleMoveMap()"
                [disabled]="!app.data.vessels.showSelf"
                [matTooltip]="
                  app.config.map.moveMap
                    ? 'Turn off Follow Vessel'
                    : 'Follow Vessel'
                "
                matTooltipPosition="right"
              >
                <mat-icon class="ob" svgIcon="cent-iec"></mat-icon>
              </button>
            </div>
            @if(!app.config.map.moveMap) {
            <div class="buttonPanelItem">
              <button
                class="button-toolbar"
                mat-mini-fab
                (click)="centerVessel()"
                [disabled]="!app.data.vessels.showSelf"
                matTooltip="Center Vessel"
                matTooltipPosition="right"
              >
                <mat-icon> center_focus_strong </mat-icon>
              </button>
            </div>
            }
            <div class="buttonPanelItem">
              <button
                class="button-toolbar"
                mat-mini-fab
                [disabled]="isInteracting"
                matTooltip="More actions"
                matTooltipPosition="right"
                [matMenuTriggerFor]="settingsmenu"
              >
                <mat-icon>more_horiz</mat-icon>
              </button>
            </div>
            @if(mode === 1) {
            <div class="buttonPanelItem">
              <!-- Playback mode -->
              <button
                class="button-warn"
                mat-mini-fab
                matTooltip="Exit playback mode"
                matTooltipPosition="right"
                (click)="showSelectMode()"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            }
          </div>
          }
          <!-- /left button bar-->

          <!--left menu panel-->
          @if(display.leftMenuPanel) {
          <div class="leftMenuPanel">
            @if(display.routeList) { @defer {
            <route-list
              [activeRoute]="app.data.activeRoute"
              [editingRouteId]="app.data.editingId"
              (activate)="activateRoute($event.id)"
              (deactivate)="clearDestination()"
              (properties)="skres.resourceProperties($event)"
              (points)="featureProperties({ id: $event.id, type: 'route' })"
              (notes)="
                skres.showRelatedNotes($event.id, 'route', $event.readOnly)
              "
              (closed)="displayLeftMenu()"
            >
            </route-list>
            } } @if(display.waypointList) { @defer {
            <waypoint-list
              [activeWaypoint]="app.data.activeWaypoint"
              [editingWaypointId]="app.data.editingId"
              (goto)="course.navigateToWaypoint($event.id)"
              (deactivate)="clearDestination()"
              (center)="centerResource($event)"
              (notes)="
                skres.showRelatedNotes($event.id, 'waypoint', $event.readOnly)
              "
              (closed)="displayLeftMenu()"
            >
            </waypoint-list>
            } } @if(display.chartList) { @defer {
            <chart-list
              [selectedCharts]="app.config.selections.charts"
              (closed)="displayLeftMenu()"
            >
            </chart-list>
            } } @if(display.noteList) { @defer {
            <note-list
              [notes]="skres.notes()"
              (select)="skres.noteSelected($event.id, $event.isGroup)"
              (pan)="centerResource($event.center, $event.zoomLevel)"
              (closed)="displayLeftMenu()"
            >
            </note-list>
            } } @if(display.trackList) { @defer {
            <track-list
              (center)="centerResource($event)"
              (closed)="displayLeftMenu()"
            >
            </track-list>
            } } @if(display.aisList) { @defer {
            <ais-list
              [focusId]="app.data.vessels.activeId"
              (properties)="featureProperties({ id: $event, type: 'ais' })"
              (closed)="displayLeftMenu()"
              (focusVessel)="switchActiveVessel($event)"
              (pan)="centerResource($event.center, $event.zoomLevel)"
            >
            </ais-list>
            } } @if(display.resourceGroups()) { @defer {
            <group-list (closed)="displayLeftMenu()"> </group-list>
            } } @if(display.anchorWatch) {
            <anchor-watch
              [showSelf]="app.data.vessels.showSelf"
              [radius]="this.anchor.radius()"
              [feet]="app.config.units.depth !== 'm' ? true : false"
              [raised]="anchor.raised()"
              (closed)="displayLeftMenu()"
            >
            </anchor-watch>
            }
          </div>
          }

          <!-- right button bar -->
          <!-- show/hide  -->
          <div class="rightTop buttonPanel">
            <div class="buttonPanelItem">
              <button
                class="button-secondary"
                mat-mini-fab
                (click)="toggleToolbarButtons()"
                [matTooltip]="
                  app.uiConfig().toolbarButtons
                    ? 'Hide Toobars'
                    : 'Show Toobars'
                "
                matTooltipPosition="below"
              >
                <mat-icon>{{
                  app.uiConfig().toolbarButtons ? 'apps' : 'apps_outage'
                }}</mat-icon>
              </button>
            </div>
          </div>
          @if(app.uiConfig().toolbarButtons) {
          <div class="buttonPanel right">
            <!-- instrument sidebar open button -->
            <div class="instrumentPanelToggle buttonPanelItem">
              @if(app.instrumentPanelAvailable() && !isInteracting &&
              !app.data.vessels.activeId) {
              <button
                class="button-toolbar"
                mat-mini-fab
                (click)="sideright.toggle()"
                matTooltip="Instruments"
                matTooltipPosition="below"
              >
                <mat-icon>av_timer</mat-icon>
              </button>
              }
              <br />&nbsp;<br />&nbsp;
            </div>

            <!-- Web audio enable -->
            @if(display.audio.state !== 'running') {
            <div class="buttonPanelItem">
              <button
                class="button-toolbar"
                mat-mini-fab
                matTooltip="Web Audio off! Click to enable."
                matTooltipPosition="left"
                (click)="enableAudio()"
              >
                <mat-icon class="icon-warn">volume_off</mat-icon>
              </button>
              <br />&nbsp;<br />
            </div>
            }

            <!-- fullscreen enable -->
            @if(display.fullscreen.enabled) {
            <div class="buttonPanelItem">
              <button
                mat-mini-fab
                [ngClass]="{
                  'icon-warn': display.fullscreen.active,
                  'button-toolbar': !display.fullscreen.active
                }"
                (click)="toggleFullscreen()"
                [matTooltip]="
                  display.fullscreen.active
                    ? 'Exit Fullscreen '
                    : 'Go Fullscreen'
                "
                matTooltipPosition="left"
              >
                <mat-icon>
                  {{
                    display.fullscreen.active
                      ? 'fullscreen_exit '
                      : 'fullscreen'
                  }}
                </mat-icon>
              </button>
              <br />&nbsp;<br />
            </div>
            }
            <!-- WakeLock enable -->
            <div class="buttonPanelItem">
              <wakelock
                [setOn]="app.config.selections.wakeLock"
                (has)="handleHasWakeLock($event)"
                (change)="handleWakelockChange($event)"
              ></wakelock>
              @if(app.data.hasWakeLock) {
              <span><br />&nbsp;<br /></span>
              }
            </div>

            <!-- Experiments -->
            @if(app.config.experiments) {
            <div class="buttonPanelItem">
              <fb-experiments
                (selected)="openExperiment($event)"
              ></fb-experiments>
              <br />&nbsp;<br />
            </div>
            }
            <!-- PiP enable -->
            @if(app.config.resources.video.enable &&
            app.config.resources.video.url) {
            <div class="buttonPanelItem">
              <pip-video [src]="vidUrl" [muted]="true" (click)="focusMap()">
              </pip-video>
              <br />&nbsp;<br />
            </div>
            }

            <!-- constrain zoom to selected map(s) extent -->
            <div class="buttonPanelItem">
              <button
                mat-mini-fab
                [ngClass]="{
                  'button-primary': app.uiConfig().mapConstrainZoom,
                  'button-toolbar': !app.uiConfig().mapConstrainZoom
                }"
                (click)="toggleConstrainMapZoom()"
                matTooltip="Constrain map zoom."
                matTooltipPosition="left"
              >
                <mat-icon>zoom_in_map</mat-icon>
              </button>
              <br />&nbsp;<br />
            </div>

            <!-- Invert colors -->
            <div class="buttonPanelItem">
              <button
                mat-mini-fab
                [ngClass]="{
                  'button-primary': app.uiConfig().invertColor,
                  'button-toolbar': !app.uiConfig().invertColor
                }"
                (click)="invertFeatureLabelColor()"
                matTooltip="Invert feature text color."
                matTooltipPosition="left"
              >
                <mat-icon>{{
                  true ? 'invert_colors' : 'invert_colors_off'
                }}</mat-icon>
              </button>
              <br />&nbsp;<br />
            </div>

            <!-- Autopilot console-->
            @if(app.featureFlags().autopilotApi &&
            app.data.vessels.self.autopilot.default) {
            <div class="buttonPanelItem">
              <button
                mat-mini-fab
                [ngClass]="{
                  'button-primary': app.data.vessels.self.autopilot.enabled,
                  'button-toolbar': !app.data.vessels.self.autopilot.enabled
                }"
                matTooltip="Autopilot"
                matTooltipPosition="left"
                (click)="toggleAutopilotConsole(true)"
              >
                <mat-icon> alt_route </mat-icon>
              </button>
              <br />&nbsp;<br />
            </div>
            }

            <!-- Drop Waypoint button -->
            <div class="buttonPanelItem">
              <button
                class="button-accent"
                mat-mini-fab
                (click)="skres.newWaypointAt(app.data.vessels.self.position)"
                matTooltip="Mark Vessel position"
                matTooltipPosition="left"
              >
                <mat-icon>add_location</mat-icon>
              </button>
              <br />&nbsp;<br />
            </div>
          </div>
          }
          <!-- /right button bar -->
          }
          <!--map panel-->
          <div
            style="display: relative; width: 100%; height: 100%"
            (dragover)="mapDragOver($event)"
            (drop)="mapDrop($event)"
          >
            <!-- MAP -->
            <fb-map
              [setFocus]="mapSetFocus()"
              [mapCenter]="display.map.center"
              [mapZoom]="app.config.map.zoomLevel"
              [northUp]="app.uiConfig().mapNorthUp"
              [movingMap]="app.uiConfig().mapMove"
              [vesselTrail]="app.data.trail"
              [activeRoute]="app.data.activeRoute"
              [dblClickZoom]="app.config.mapDoubleClick"
              [measureMode]="mapInteract.isMeasuring()"
              [drawMode]="mapInteract.isDrawing()"
              (drawEnded)="handleDrawEnded($event)"
              (activate)="activateRoute($event)"
              (deactivate)="clearDestination()"
              (exitMovingMap)="toggleMoveMap($event)"
              (focusVessel)="switchActiveVessel($event)"
              (info)="featureProperties($event)"
              (menuItemSelected)="handleContextMenuSelection($event)"
            >
            </fb-map>
          </div>
          <!--/map panel-->

          <!-- North Arrow -->
          <div style="position: absolute; top: 60px; left: 56px; width: 50px">
            <img
              #northArrow
              src="./assets/img/north_arrow.svg"
              [style.transform]="getOrientation()"
              width="50"
              height="70"
            />
          </div>

          <!-- Draw Help -->
          @if((mapInteract.isDrawing() && mapInteract.draw.resourceType !==
          'route') || mapInteract.isModifying()) {
          <div class="mat-app-background measurePanel">
            @if(mapInteract.isDrawing()) {
            <div>
              <span style="font-weight: bold; padding: 5px">
                <mat-icon>edit</mat-icon> Drawing Help:
              </span>
              @if(mapInteract.draw.resourceType === 'waypoint' ||
              mapInteract.draw.resourceType === 'note') {
              <div style="padding: 5px">
                Click on the Map where to drop the feature.
              </div>
              } @if(mapInteract.draw.resourceType === 'region') {
              <div style="padding: 5px">
                <ol
                  style="
                    margin-block-start: 0.2em;
                    margin-block-end: 0.2em;
                    padding-inline-start: 15px;
                  "
                >
                  <li>Click on the Map to place a vertex of the Region.</li>
                  <li>Click on the last point to end drawing.</li>
                </ol>
              </div>
              }
            </div>
            } @if(mapInteract.isModifying()) {
            <div>
              <span style="font-weight: bold; padding: 5px">
                <mat-icon>edit</mat-icon> Modify:
              </span>
              <div style="padding: 5px">
                <ol
                  style="
                    margin-block-start: 0.2em;
                    margin-block-end: 0.2em;
                    padding-inline-start: 15px;
                  "
                >
                  @if(mapInteract.draw.forSave.id === 'anchor') {
                  <li>Click and drag to move anchor.</li>
                  } @if(mapInteract.draw.forSave.id !== 'anchor') {
                  <li>Click and drag to move point.</li>
                  <li>Ctrl-Click or Tap-hold to remove point from a line.</li>
                  }
                </ol>
              </div>
            </div>
            }
            <div style="text-align: center">
              <!-- cancel Draw button -->
              <a
                class="icon-warn"
                mat-raised-button
                (click)="closeInteraction()"
                [matTooltip]="
                  mapInteract.isModifying() ? 'Finish Editing' : 'Cancel Draw'
                "
                matTooltipPosition="left"
              >
                <mat-icon class="icon-warn">close</mat-icon>
                {{ mapInteract.isModifying() ? 'FINISH' : 'CANCEL' }}
              </a>
            </div>
          </div>
          }

          <!-- *** Playback panel ***-->
          @if(mode === 1){
          <div class="playbackPanel mat-app-background">
            <div style="border-radius: 5px">
              <mat-icon>access_time</mat-icon> <b>Playback:</b>
            </div>
            <div style="text-align: center">{{ display.playback.time }}</div>
          </div>
          }

          <!-- *** Alarm / Mode panel ***-->
          @if(!app.kioskMode()) { @if( app.uiCtrl().alertList) {
          <alert-list
            [alerts]="notiMgr.alerts()"
            (closed)="toggleAlertList(false)"
          ></alert-list>
          }
          <div class="alarmPanel">
            @for(n of notiMgr.alerts(); track n[0]) {
            <span style="margin-bottom: 5px">
              <fb-alert
                [audioStatus]="display.audio.state"
                [alert]="n[1]"
                [acknowledged]="n[1].acknowledged"
                [silenced]="n[1].silenced"
                [doNotPlaySound]="app.config.muteSound"
                (nextPoint)="
                  course.coursePointIndex(app.data.navData.pointIndex + 1)
                "
              >
              </fb-alert>
            </span>
            }
          </div>
          }

          <!-- Measurement panel -->
          @if(mapInteract.isMeasuring() || mapInteract.draw.resourceType ===
          'route' && mapInteract.isDrawing() || (mapInteract.isModifying() &&
          mapInteract.draw.resourceType === 'route')) {
          <fb-measurements
            matTooltip="Click on the Map to start. Click cancel or the last point to end."
            [coords]="mapInteract.measurement().coords"
            [index]="mapInteract.measurement().index"
            [totalOnly]="mapInteract.draw.resourceType === 'route'"
            (cancel)="closeInteraction()"
          >
          </fb-measurements>
          }

          <!-- *** Nav data panel ***-->
          @if(!isInteracting) {
          <div class="navdataPanel">
            @if(display.navDataPanel.nextPointCtrl) {
            <route-nextpoint
              [index]="app.data.navData.pointIndex"
              [total]="app.data.navData.pointTotal"
              [circular]="app.data.activeRouteCircular"
              (selected)="routeNextPoint($event)"
            >
            </route-nextpoint>
            } @if(app.config.courseData && display.navDataPanel.show) {
            <div style="display: flex; flex-wrap: nowrap">
              <div class="mat-app-background" style="display: flex">
                <div style="width: 40px">
                  <button
                    mat-icon-button
                    matTooltip="Course Settings"
                    (click)="openCourseSettings()"
                  >
                    <mat-icon class="ob" svgIcon="navigation-route"></mat-icon>
                  </button>
                  <br />
                  <button
                    mat-icon-button
                    matTooltip="Autopilot Console"
                    matTooltipPosition="above"
                    [disabled]="!app.featureFlags().autopilotApi"
                    [matTooltip]="display.navDataPanel.apModeText"
                    (click)="toggleAutopilotConsole(true)"
                  >
                    <mat-icon [color]="display.navDataPanel.apModeColor">
                      alt_route
                    </mat-icon>
                  </button>
                </div>
                <div>
                  <button
                    mat-icon-button
                    matTooltip="Restart XTE"
                    (click)="course.courseRestart()"
                  >
                    <mat-icon>replay</mat-icon>
                  </button>
                  <br />
                  <button
                    mat-icon-button
                    matTooltip="Reverse route direction"
                    matTooltipPosition="above"
                    [disabled]="!app.data.activeRoute"
                    (click)="course.courseReverse()"
                  >
                    <mat-icon
                      [color]="
                        app.data.activeRouteReversed ? 'primary' : 'none'
                      "
                    >
                      multiple_stop
                    </mat-icon>
                  </button>
                </div>
              </div>
              @if(app.data.navData.vmg) {
              <ap-dial-text
                [title]="'VMG'"
                [value]="app.formatSpeed(app.data.navData.vmg, true)"
                [units]="app.formattedSpeedUnits"
              >
              </ap-dial-text>
              } @if(app.data.navData.bearing.value) {
              <ap-dial-text
                [title]="'BRG'"
                [value]="app.data.navData.bearing.value.toFixed(1)"
                [units]="
                  app.data.navData.bearing.type === 'M' ? 'deg (M)' : 'deg (T)'
                "
              >
              </ap-dial-text>
              } @if(app.data.navData.xte) {
              <ap-dial-text
                [title]="'XTE'"
                [value]="
                  app.data.navData.xte > 10
                    ? app.data.navData.xte.toFixed(1)
                    : app.data.navData.xte.toFixed(3)
                "
                [units]="app.config.units.distance === 'm' ? 'km' : 'NM'"
              >
              </ap-dial-text>
              } @if(app.data.activeRoute) { @if(app.data.navData.route.dtg) {
              <ap-dial-text
                [title]="'DTG'"
                subTitle="RT"
                [value]="app.data.navData.route.dtg.toFixed(1)"
                [units]="app.config.units.distance === 'm' ? 'km' : 'NM'"
              >
              </ap-dial-text>
              } @if(app.data.navData.route.ttg) {
              <ap-dial-ttg subTitle="RT" [value]="app.data.navData.route.ttg">
              </ap-dial-ttg>
              } @if(app.data.navData.route.eta) {
              <ap-dial-eta
                [title]="'ETA'"
                subTitle="RT"
                [value]="app.data.navData.route.eta"
              >
              </ap-dial-eta>
              } } @if(app.data.navData.dtg) {
              <ap-dial-text
                [title]="'DTG'"
                [value]="app.data.navData.dtg.toFixed(1)"
                [units]="app.config.units.distance === 'm' ? 'km' : 'NM'"
              >
              </ap-dial-text>
              } @if(app.data.navData.ttg) {
              <ap-dial-ttg [value]="app.data.navData.ttg"> </ap-dial-ttg>
              } @if(app.data.navData.eta) {
              <ap-dial-eta [title]="'ETA'" [value]="app.data.navData.eta">
              </ap-dial-eta>
              }
            </div>
            }
          </div>
          }
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <!-- /content -->
  </div>
</div>
