.popover {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    z-index: 3990;
    display: block;
    max-width: 276px;
    min-width: 270px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    line-break: auto;
}
.popover.top {
    margin-top: -10px;
    margin-left: 10px;
}
.popover-title {
    padding: 2px 0 2px 5px;
    margin: 0;
    display:flex;
    line-height: 2.5em;
    font-size: 12pt;
    background-color: rgba(250,250,250,.51);
    border-radius: 5px 5px 0 0;
    min-width: 110px;
} 
.popover-content {
    padding: 9px 14px;
    max-height:330px;
    overflow:auto;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}
.popover > .arrow {
    border-width: 11px;
}
.popover > .arrow:after {
    content: "";
    border-width: 10px;
}

.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
.popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-bottom-width: 0;
}

.popover.measure {
    min-width: 100px;
    background-color: #3399CC;
}

.popover.measure > .popover-content {
    display: none;
}

.popover.measure > .popover-title {
    color: white;
    font-weight: bold;
    border-bottom: none;
    background-color: inherit;
    text-align: center;
} 

.popover.top.measure > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
.popover.top.measure > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-bottom-width: 0;
    border-top-color: #3399CC;
}

.popover-action-button {
    flex:1 1 45%;
}

