<div class="resourceload-dialog">
  <mat-toolbar style="background-color: transparent">
    <span><mat-icon>category</mat-icon></span>
    <span style="flex: 1 1 auto; text-align: center">Load Resource</span>
    <span style="text-align: right">
      <button mat-icon-button (click)="this.dialogRef.close();">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <div mat-dialog-content>
    @if(!display.notValid) {
    <div class="card-group">
      <div>
        <mat-form-field floatLabel="always" style="width: 100%">
          <mat-label>Select Destination Path</mat-label>
          <mat-select
            id="respaths"
            #respaths
            [disabled]="!resPaths"
            [(value)]="targetPath"
          >
            @for(i of resPaths; track i) {
            <mat-option [value]="i">{{i}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      @if(!source.name) {
      <div>
        <ap-file-input [astext]="true" (chosen)="parseFile($event)">
          <div style="width: 200px">
            <div style="padding: 25%; border: gray 1px dashed">
              Click or Drop file
            </div>
          </div>
        </ap-file-input>
      </div>
      } @if(display.notValid) {
      <div>
        <div>
          <b>Invalid Resource Data:</b><br /><br />
          <i>Selected file does not contain valid data. </i><br />
        </div>
        <div style="width: 100%; text-align: center">
          <button mat-raised-button (click)="app.showHelp('resource')">
            <mat-icon>help</mat-icon>
            Help
          </button>
        </div>
      </div>
      }

      <div>
        <div style="display: flex; flex-wrap: wrap">
          <div style="flex: 1 1 auto; padding: 5px; font-size: smaller">
            <div>
              <span style="font-weight: bold">Name:</span> {{source.name}}
            </div>
            <div>
              <span style="font-weight: bold">Type:</span>
              {{source.type}}
            </div>
          </div>
        </div>
        <div style="text-align: center; padding-top: 15px">
          <button
            mat-raised-button
            [disabled]="!targetPath || !source.name"
            matTooltip="Load features"
            matTooltipPosition="below"
            (click)="load()"
          >
            <mat-icon>file_upload</mat-icon>
            &nbsp;Load&nbsp;
          </button>
          <br />&nbsp; @if(targetPath && source.name) {
          <div
            style="padding: 10px; border: gray 1px dashed; font-style: italic"
          >
            Note: Data will not be validated when uploaded to server!
          </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
