.autopilot-console {
    position: absolute;
    z-index: 6010;
    top: 130px;
    left: 50px;
    display: flex;
    flex-direction: column;  
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    font-size: 10pt;
    width: 238px;
    height: 400px;
    background-image: url('src/assets/img/ap/autopilot.png');
    background-color: transparent;
    border-radius: 115px;
}
.autopilot-console .title {
    padding: 10px 0 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    color: rgb(237, 224, 221);
    text-align: center;
}

.autopilot-console .title .closer:hover {
    cursor: pointer;
}

.autopilot-console .content {
    padding: 0 5px;
    margin: 0;
    flex: 1 1 auto;
    text-align: center;
}

.autopilot-console .content .lcd{
    padding: 5px 0;
    color:black;
    margin: 0 15px;
}

.autopilot-console .content .dial-text {
    font-family: roboto;
    flex: 1 1 auto;
}

.autopilot-console .content .dial-text-title {
    font-size: 10pt;
    font-weight: 500;
    flex: 1;
}

.autopilot-console .content .dial-text-value {
    font-size: 37pt;
    font-weight: 500;
}

.autopilot-console .content .dial-text-units {
    font-size: 10pt;
}

.autopilot-console .content .button-bar {
    display:flex;
    flex-wrap:nowrap;
    padding: 30px 0 10px 0;
}

.autopilot-console .content .button-bar-thin {
    display:flex;
    flex-wrap:nowrap;
    padding: 10px 0 0 0;
} 


