<div class="anchorwatch mat-app-background">
  <mat-card>
    <mat-card-title>
      <div class="title-block">
        <div style="flex: 1 1 auto">
          <div style="padding-top: 7px">Anchor Watch:</div>
        </div>
        <div style="width: 50px">
          <button
            mat-icon-button
            (click)="close()"
            matTooltip="Close"
            matTooltipPosition="left"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>

    <mat-card-content>
      <div>
        <b>Status:</b>
      </div>
      <div
        style="
          width: 150px;
          height: 150px;
          color: black;
          background-position: top left;
          background-size: cover;
        "
        [style.backgroundImage]="bgImage"
      >
        <b
          style="
            position: relative;
            top: 30px;
            left: 80px;
            width: 35px;
            text-align: right;
          "
        >
          {{ radius === -1 ? '--' : feet ? mToFt(radius) : radius.toFixed(0) }}
          {{ feet ? 'ft' : 'm' }}
        </b>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div style="display: flex">
        <div></div>
        <div style="flex: 1 1 auto; text-align: right">
          RAISE
          <mat-slide-toggle
            #slideCtl
            [hideIcon]="true"
            [disabled]="disable"
            [checked]="!raised"
            (change)="setAnchor($event)"
          >
          </mat-slide-toggle>
          DROP
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
  @if(!raised) {
  <div>
    <mat-stepper
      orientation="vertical"
      [linear]="true"
      [selectedIndex]="rodeOut ? 1 : 0"
      #stepper
    >
      <mat-step label="Let out rode" editable="false">
        <i>When rode is out click <b>Set</b>.</i>
        <div>
          <button
            mat-mini-fab
            matStepperNext
            (click)="rodeOut = true; setRadius()"
          >
            Set
          </button>
        </div>
      </mat-step>
      <mat-step label="Adjust" editable="false">
        <div>
          <div>
            <br />
            <b>Set Radius:</b>
          </div>
          <div style="display: flex">
            <div>
              <mat-slider
                discrete
                [disabled]="disable"
                [min]="this.feet ? mToFt(min) : min"
                [max]="this.feet ? mToFt(max) : max"
                step="1"
                tickInterval="1"
              >
                <input
                  matSliderThumb
                  [value]="this.feet ? mToFt(sliderValue) : sliderValue"
                  (valueChange)="setRadius($event)"
                />
              </mat-slider>
            </div>
            <div
              style="
                flex: 1;
                font-size: 10pt;
                line-height: 3em;
                text-align: right;
              "
            >
              {{ feet ? mToFt(msg.radius) : msg.radius }}
              {{ feet ? 'ft' : 'm' }}
            </div>
          </div>
        </div>
        <div>
          <div>
            <br />
            <b>Shift Anchor:</b>
          </div>
          <nsew-buttons (direction)="shiftAnchor($event)"></nsew-buttons>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  }
</div>
