.anchorwatch {
    min-width: 150px;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.anchorwatch .title-block {
    padding-left: 5px;
    display: flex;
}

.anchorwatch .title-block .title-text {
    font-family: roboto;
    font-size: 14pt;
    font-weight: 500;
}

.anchorwatch .content {
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
}