.resourcelist {
    min-width: 150px;
    position: relative;
    height: 100%;
}

.resourcelist .title-block {
    padding-left: 5px;
    display: flex;
}

.resourcelist .title-block .title-text {
    font-family: roboto;
    font-size: 14pt;
    font-weight: 500;
}

.resourcelist .resources {
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
}

.resourcelist .vscroller {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: silver 1px outset;
}