/** main app styles **/

/** Material style overrides **/
mat-sidenav-container {
    height:100%;
}
mat-sidenav {
    width: 200px;
}
mat-nav-list {
    padding-top: 0;
}

/** Main App fullscreen Frame **/
.appframe {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right: 0;
}
.view {
    top: 0;
	bottom: 0;
    right: 0;
	left: 0;
    overflow: auto;
    position: fixed;
	border-top: silver 0px solid;
}

.leftMenuPanel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5000; 
    background-color: rgba(200,200,200,.4);   
}

.mapButton {
    position: fixed;
    z-index: 4900;
}

.alarmPanel {
    position: absolute;
    z-index: 4901;
    top: 20px;
    left: 33%;
    right: 33%;
}

.control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
  }

.ol-mouse-position {
    position: fixed; 
    bottom:10px; 
    right:45%; 
    color: rgb(30,30,30);
    font-family:roboto; 
    background-color: rgba(250,250,250,.7);    
}

@media (max-width: 600px) and (orientation: portrait) { 
}
