.draft-watermark {
    color:lightgrey;
    font-size:120px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
    position: absolute;
    z-index: 0;
    left: 25%;
    bottom: 0;    
}

:host ::ng-deep .ck-editor__editable {
    min-height: 120px;
}
