<style>
  ._ap-resource {
    font-family: arial;
    width: 60vw;
  }

  .ap-confirm-icon {
    min-width: 35px;
    max-width: 35px;
    text-align: left;
  }

  .ap-confirm-icon .mat-icon {
    font-size: 25pt;
  }
  .mat-form-field {
    width: 100%;
  }
  .nosmall {
    display: none;
  }
  :host ::ng-deep .ck.ck-editor__main > .ck-editor__editable {
    color: black;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px),
    only screen and (min-width: 800px) {
    .ap-confirm-icon {
      min-width: 25%;
      max-width: 25%;
    }
    .ap-confirm-icon .mat-icon {
      font-size: 40pt;
    }
    .nosmall {
      display: flex;
    }
  }
</style>

<div class="_ap-resource" *ngIf="!data.editable">
  <div style="display: flex">
    <div style="width: 70px">
      <mat-icon class="ap-confirm-icon" color="primary">local_offer</mat-icon>
    </div>
    <div mat-dialog-title style="flex: 1 1 auto">Note Details</div>
    <div>
      <button mat-icon-button (click)="dialogRef.close({result:false})">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content>
    <mat-card style="border: whitesmoke 1px solid">
      <mat-card-content>
        <p class="draft-watermark" *ngIf="data.note.properties.draft">Draft</p>
        <div style="display: flex; flex-direction: column">
          <div style="padding-bottom: 5px; display: flex">
            <div style="font-weight: bold; vertical-align: top">Name:</div>
            <div style="padding-left: 10px">{{data.note?.name}}</div>
          </div>
          <div style="padding-bottom: 5px; display: flex">
            <div style="font-weight: bold; vertical-align: top">Group:</div>
            <div style="padding-left: 10px; flex: 1 1 auto">
              {{data.note?.group}}
            </div>
            <div
              *ngIf="data.note.group && app.config.resources.notes.groupNameEdit"
            >
              <button
                mat-button
                (click)="dialogRef.close({result:true, data: 'group', value: data.note.group})"
                matTooltip="View Group Notes"
              >
                <mat-icon color="primary">style</mat-icon>
              </button>
            </div>
          </div>
          <div style="flex: 1 1 auto; padding: 5px 0 5px 0">
            <div style="font-weight: bold; vertical-align: top">
              Description:
            </div>
            <div
              style="overflow-y: auto; height: 150px"
              target="notelink"
              [innerHTML]="data.note.description | addTarget: '_notes'"
            ></div>
          </div>
          <div
            class="nosmall"
            *ngIf="data.note.position"
            style="font-size: 10pt; padding: 5px 0 5px 0"
          >
            <div style="width: 45px; font-weight: bold">Lat:</div>
            <div>{{data.note?.position?.latitude}}</div>
            &nbsp;
            <div style="width: 45px; font-weight: bold">Lon:</div>
            <div>{{data.note?.position?.longitude}}</div>
          </div>
          <div class="nosmall" style="font-size: 10pt; padding: 5px 0 5px 0">
            <div *ngIf="data.note.authors && data.note.authors.length!=0">
              <span style="font-weight: bold">Author:</span>
              &nbsp;{{data.note?.authors[0]?.name}} &nbsp;&nbsp;
            </div>
            <div><i>{{data.note?.timestamp?.slice(0,10)}}</i></div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div style="display: flex">
          <div style="flex: 1 1 auto">
            <div *ngIf="data.note.url">
              <button
                mat-icon-button
                (click)="openNoteUrl()"
                matTooltip="Open Note link in browser window"
              >
                <mat-icon color="primary">open_in_new</mat-icon>
              </button>
            </div>
          </div>
          <div style="text-align: right" *ngIf="!data.note.properties.readOnly">
            <button
              mat-icon-button
              (click)="dialogRef.close({result:true, data: 'edit'})"
              matTooltip="Edit Note"
            >
              <mat-icon color="primary">edit</mat-icon>
            </button>
            &nbsp;
            <button
              mat-icon-button
              (click)="dialogRef.close({result:true, data: 'delete'})"
              matTooltip="Delete Note"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</div>

<div class="_ap-resource" *ngIf="data.editable">
  <div style="display: flex">
    <div mat-dialog-title style="flex: 1 1 auto">
      {{(!data.title) ? (data.addMode) ? 'New Note:' : 'Edit Note:' :
      data.title}}
    </div>
  </div>
  <mat-dialog-content>
    <div style="display: flex">
      <div class="ap-confirm-icon">
        <mat-icon color="primary">local_offer</mat-icon>
      </div>
      <div style="flex: 1 1 auto">
        <div>
          <mat-form-field>
            <input
              matInput
              #inptitle="ngModel"
              type="text"
              required
              placeholder="Note Name"
              [disabled]="false"
              [(ngModel)]="data.note.name"
            />
            <mat-error
              *ngIf="inptitle.invalid && (inptitle.dirty || inptitle.touched)"
            >
              Please enter a title for the note
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="app.config.resources.notes.groupNameEdit">
          <mat-form-field>
            <input
              matInput
              #inpgroup="ngModel"
              type="text"
              placeholder="Group Name"
              [(ngModel)]="data.note.group"
            />
          </mat-form-field>
        </div>

        <div class="note-editor">
          <angular-editor
            [config]="editorConfig"
            [placeholder]="'Add note text here.'"
            [(ngModel)]="data.note.description"
          >
          </angular-editor>
        </div>

        <div>
          <mat-form-field hintLabel="Link to additional content.">
            <input
              type="text"
              matInput
              placeholder="URL"
              [(ngModel)]="data.note.url"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-slide-toggle
            color="primary"
            labelPosition="before"
            [checked]="data.note.properties.draft"
            (change)="data.note.properties.draft=$event.checked;"
          >
            Draft:
          </mat-slide-toggle>
        </div>

        <div *ngIf="data.position" style="font-size: 10pt">
          <div style="display: flex">
            <div style="width: 45px; font-weight: bold">Lat:</div>
            <div style="flex: 1 1 auto">{{data.note.position.latitude}}</div>
          </div>
          <div style="display: flex">
            <div style="width: 45px; font-weight: bold">Lon:</div>
            <div style="flex: 1 1 auto">{{data.note.position.longitude}}</div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div style="text-align: center; width: 100%">
      <button
        mat-raised-button
        color="primary"
        [disabled]="inptitle.invalid"
        (click)="dialogRef.close({result:true, data: data.note, action: 'save'})"
      >
        SAVE
      </button>
      <button
        mat-raised-button
        (click)="dialogRef.close({result:false, data: null})"
      >
        CANCEL
      </button>
    </div>
  </mat-dialog-actions>
</div>
