
<style>
    ._ap-resource {
        font-family: arial;
        width: 60vw;
    }
      
    .ap-confirm-icon { 
        min-width: 35px;
        max-width: 35px;
        text-align: left;                    
    }
   
    .ap-confirm-icon .mat-icon { 
        font-size: 25pt;
    }
    .mat-form-field {
        width: 100%;
    }
    .nosmall { 
        display: none;
    }
    @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px),
        only screen	and (min-width : 800px) { 
        .ap-confirm-icon {
            min-width: 25%;
            max-width: 25%;
        }
        .ap-confirm-icon .mat-icon { 
            font-size: 40pt;
        }
        .nosmall { 
            display: flex;
        }                   
    }    
           
</style>

<div class="_ap-resource">
    <div style="display: flex;">
        <div style="width:70px;"><mat-icon class="ap-confirm-icon" color="primary">360</mat-icon></div>
        <div mat-dialog-title style="flex: 1 1 auto;">{{relatedBy}} Notes</div>
        <div>
            <button mat-icon-button (click)="dialogRef.close({result:false})">
                <mat-icon>close</mat-icon>
            </button>                               
        </div>
    </div>        
    <mat-dialog-content>        
        <div style="padding-bottom: 5px; overflow-y: auto;" *ngFor="let n of data.notes;">
            <mat-card style="border: whitesmoke 1px solid;">
                <mat-card-title style="font-size: unset;">
                    <mat-icon>local_offer</mat-icon>
                    {{n[1].title}}
                </mat-card-title>
                <mat-card-content style="margin-bottom: 0;">
                    <p *ngIf="n[1].properties.draft" class="draft-watermark">Draft</p>
                    <div style="display:flex;flex-direction:column;">
                        <div style="padding-bottom: 5px;display:flex;">
                            <div style="font-weight:bold;vertical-align:top;">Date:</div>
                            <div style="padding-left: 10px;">
                                <i>{{n[1].timestamp?.slice(0,10)}}</i>
                            </div>  
                        </div> 
                        <div style="padding-bottom: 5px;display:flex;">
                            <div style="font-weight:bold;vertical-align:top;">Group:</div>
                            <div style="padding-left: 10px;">
                                {{n[1].group}}
                            </div>  
                        </div>    
                        <div style="padding-bottom: 5px;">
                            <div style="font-weight:bold;vertical-align:top;">Description:</div>
                            <div [innerHTML]="n[1].description | addTarget: '_notes'"></div>  
                        </div>  
                        <div style="padding-bottom: 5px;display:flex;">
                            <div *ngIf="n[1].authors && n[1].authors.length!=0">
                                <span style="font-weight:bold;">Author:</span>
                                &nbsp;{{n[1].authors[0]?.name}}
                                &nbsp;&nbsp;
                            </div>
                            
                        </div>                                                                    
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div style="display:flex;">
                        <div style="flex: 1 1 auto;">
                            <div *ngIf="n[1].url">
                                <button mat-icon-button
                                    (click)="openNoteUrl(n[1].url)"
                                    matTooltip="Open Note link in browser window">
                                    <mat-icon color="primary">open_in_new</mat-icon>
                                </button>
                            </div>  
                        </div>  
                        <div style="text-align: right;" *ngIf="!n[1].properties.readOnly">
                            <button mat-icon-button 
                                (click)="editNote(n[0])"
                                matTooltip="Edit Note">
                                <mat-icon color="primary">edit</mat-icon>
                            </button>  
                            &nbsp;
                            <button mat-icon-button 
                                (click)="deleteNote(n[0])"
                                matTooltip="Delete Note">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>                     
                        </div>
                    </div>                    
                </mat-card-actions>
            </mat-card>        
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div style="text-align:center;width:100%;">    
            <button mat-raised-button (click)="addNote()">
                <mat-icon color="primary">local_offer</mat-icon>
                ADD
            </button>       
        </div>					
    </mat-dialog-actions>
</div>	
