
<aol-layer-vector [zIndex]="zIndex">
    <aol-source-vector>
        <div *ngFor="let item of items">
            <div *ngIf="selected.includes(item.id)">
                <div *ngFor="let f of item.values.features" [ngSwitch]="f.geometry.type">
                    <aol-feature *ngSwitchCase="'Point'">
                        <aol-geometry-point>
                            <aol-coordinate 
                                [x]="f.geometry.coordinates[0]" 
                                [y]="f.geometry.coordinates[1]" 
                                [srid]="app.config.map.srid">
                            </aol-coordinate>
                        </aol-geometry-point>
                        <aol-style>
                            <aol-style-circle [radius]="f.properties.style.width">
                                <aol-style-stroke 
                                    [color]="f.properties.style.stroke" 
                                    [width]="2">
                                </aol-style-stroke>
                                <aol-style-fill [color]="f.properties.style.fill"></aol-style-fill>                                        
                            </aol-style-circle>  
                        </aol-style>
                    </aol-feature>     
                    <aol-feature *ngSwitchCase="'MultiPoint'">
                        <aol-geometry-multipoint>
                            <aol-collection-coordinates
                                [coordinates]="f.geometry?.coordinates"
                                [srid]="app.config.map.srid">
                            </aol-collection-coordinates>
                        </aol-geometry-multipoint>
                        <aol-style>
                            <aol-style-circle [radius]="f.properties.style.width">
                                <aol-style-stroke 
                                    [color]="f.properties.style.stroke" 
                                    [width]="2">
                                </aol-style-stroke>
                                <aol-style-fill [color]="f.properties.style.fill"></aol-style-fill>                                        
                            </aol-style-circle>                                                                                                   
                        </aol-style>
                    </aol-feature>                       
                    <aol-feature *ngSwitchCase="'LineString'">
                        <aol-geometry-linestring>
                            <aol-collection-coordinates
                                [coordinates]="f.geometry?.coordinates"
                                [srid]="app.config.map.srid">
                            </aol-collection-coordinates>
                        </aol-geometry-linestring>
                        <aol-style>
                            <aol-style-stroke 
                                [color]="f.properties.style.stroke" 
                                [lineDash]="f.properties.style.lineDash"
                                [width]="f.properties.style.width">
                            </aol-style-stroke> 
                            <aol-style-fill [color]="f.properties.style.fill"></aol-style-fill>                                                                                                   
                        </aol-style>
                    </aol-feature>
                    <aol-feature *ngSwitchCase="'MultiLineString'">
                        <aol-geometry-multilinestring>
                            <aol-collection-coordinates
                                [coordinates]="f.geometry?.coordinates"
                                [srid]="app.config.map.srid">
                            </aol-collection-coordinates>
                        </aol-geometry-multilinestring>
                        <aol-style>
                            <aol-style-stroke 
                                [color]="f.properties.style.stroke" 
                                [lineDash]="f.properties.style.lineDash"
                                [width]="f.properties.style.width">
                            </aol-style-stroke> 
                            <aol-style-fill [color]="f.properties.style.fill"></aol-style-fill>                                                                                                   
                        </aol-style>
                    </aol-feature>
                    <aol-feature *ngSwitchCase="'Polygon'">
                        <aol-geometry-polygon>
                            <aol-collection-coordinates
                                [coordinates]="f.geometry?.coordinates"
                                [srid]="app.config.map.srid">
                            </aol-collection-coordinates>
                        </aol-geometry-polygon>
                        <aol-style>
                            <aol-style-stroke 
                                [color]="f.properties.style.stroke" 
                                [lineDash]="f.properties.style.lineDash"
                                [width]="f.properties.style.width">
                            </aol-style-stroke> 
                            <aol-style-fill [color]="f.properties.style.fill"></aol-style-fill>                                                                                                   
                        </aol-style>
                    </aol-feature>
                    <aol-feature *ngSwitchCase="'MultiPolygon'">
                        <aol-geometry-multipolygon>
                            <aol-collection-coordinates
                                [coordinates]="f.geometry?.coordinates"
                                [srid]="app.config.map.srid">
                            </aol-collection-coordinates>
                        </aol-geometry-multipolygon>
                        <aol-style>
                            <aol-style-stroke 
                                [color]="f.properties.style.stroke" 
                                [lineDash]="f.properties.style.lineDash"
                                [width]="f.properties.style.width">
                            </aol-style-stroke> 
                            <aol-style-fill [color]="f.properties.style.fill"></aol-style-fill>                                                                                                   
                        </aol-style>
                    </aol-feature>                    
                </div>
            </div>
        </div>
    </aol-source-vector>
</aol-layer-vector>
