
@import url('assets/fonts/material-roboto.css');
@import url('assets/fonts/material-icons.css');
@import url('assets/css/foundation-icons.css');

@font-face {  /* license plate */
    font-family: 'licenseplate';
    src: url('assets/css/licenseplate.ttf');
}

* { -webkit-tap-highlight-color: transparent; }
* { tap-highlight-color: transparent; }	

body {
    background-color: white;
    margin: 0 0 0 0;
}
b { font-weight: 500; }

.loading {	/*loading screen */
    font-size: 36pt;
    font-family: licenseplate;
    position: absolute;
    top: 25%;
    left: 25%;
    margin-right: auto;
    color: black;
}

.theme-page {
    font-family: roboto;
}

.theme-panel {	
    margin: 0;
    color: inherit;
}


/*xs*/
@media only screen and (max-width: 599px),
only screen and (min-width: 600px) and (max-width: 959px),
/*md*/
screen and (min-width: 960px) and (max-width: 1279px),
/*lg*/
screen and (min-width: 1280px) and (max-width: 1919px),
/*xl*/
screen and (min-width: 1920px) and (max-width: 5000px) {


}