.rte-builder {
    position: fixed;
    z-index: 6001;
    --hA: 100vh;
    --lA: 100vw;
    top: calc((var(--hA)* .1));
    left: calc((var(--lA)* .1));
    display: flex;
    flex-direction: column;  
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    width: 90vw;
    max-width: 450px;
    height: 80vh;
}
.rte-builder .title {
    padding: 3px 5px 0 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    display: flex;
}

.rte-builder .content {
    padding: 0 5px;
    line-height: 23px;
    margin: 0;
    flex: 1 1 auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rte-builder .wptlists {
  display:flex; 
  flex: 1 1 auto;
  overflow: hidden;
}

.wptlist-container {
    width: 50%;
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    flex: 1 1 auto;
  }
  
  .wpt-list {
    border: solid 1px rgba(200, 200, 200, .3);
    min-height: 99%;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .wpt-box {
    padding: 15px 10px;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
  }

  .wpt-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    flex:1 1 auto;
    text-align:left;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .wpt-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    opacity: .5;
  }
  
