<div class="resourcelist">
  <mat-card style="border-radius: unset">
    <mat-card-title>
      <div class="title-block">
        <div style="width: 50px">
          <button
            mat-icon-button
            (click)="close()"
            matTooltip="Close Route List"
            matTooltipPosition="right"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div style="flex: 1 1 auto; padding-top: 7px">Routes</div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div style="display: flex">
        <div style="flex: 1 1 auto; padding-left: 3px">
          <mat-form-field floatLabel="always" style="width: 180px">
            <mat-label>Type to filter list</mat-label>
            <input
              #ftext
              type="text"
              matInput
              [(ngModel)]="filterText"
              (keyup)="filterKeyUp(ftext.value)"
            />
            @if(filterText) {
            <button matSuffix mat-icon-button (click)="filterKeyUp('')">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
        </div>
        <div>
          <button
            mat-icon-button
            [disabled]="disableRefresh"
            (click)="itemRefresh()"
            matTooltip="Reload Routes"
            matTooltipPosition="left"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div>
          <mat-checkbox
            #selall
            [disabled]="routes.length === 0 || disableRefresh"
            [checked]="allSel"
            [indeterminate]="someSel"
            (change)="selectAll($event.checked)"
            [matTooltip]="(!selall.checked || someSel) ? 'Select All' : 'Deselect All'"
            matTooltipPosition="right"
          >
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="resources">
    @if(routes.length === 0) {
    <div style="text-align: center"><br /><i>No Routes available.</i></div>
    }
    <cdk-virtual-scroll-viewport class="vscroller" itemSize="120">
      <mat-card
        *cdkVirtualFor="let r of filterList; let i= index;"
        style="border-bottom: silver 1px outset; border-radius: unset"
      >
        <mat-card-content>
          <div style="display: flex; padding-left: 5px">
            <div style="flex: 1 1 auto; width: 215px">
              <div
                style="
                  padding-top: 11px;
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                <b>{{r[1].name}}</b>
              </div>
              <div
                style="
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                {{r[1].description}}
              </div>
              <div>
                <i
                  >{{ app.config.units.distance!='m' ?
                  km2Nm(r[1].distance/1000).toFixed(2) + 'NM' :
                  (r[1].distance/1000).toFixed(2) + 'km'}}
                </i>
              </div>
            </div>
            <div style="text-align: right">
              <mat-checkbox
                [checked]="r[2]"
                [disabled]="r[0] === activeRoute || disableRefresh"
                (change)="itemSelect($event.checked, r[0])"
                matTooltip="Show on Map"
                matTooltipPosition="left"
              >
              </mat-checkbox>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div style="display: flex">
            <div style="flex: 1 1 auto">
              <button
                mat-icon-button
                (click)="itemDelete(r[0])"
                [disabled]="r[0] === activeRoute || disableRefresh"
                matTooltip="Delete Route"
                matTooltipPosition="right"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-icon-button
                [disabled]="disableRefresh"
                (click)="itemViewPoints(r[0])"
                matTooltip="Route points"
                matTooltipPosition="right"
              >
                <mat-icon>flag</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="itemViewNotes(r)"
                matTooltip="Route notes"
                matTooltipPosition="right"
              >
                <mat-icon>local_offer</mat-icon>
              </button>
              @if(r[0] !== activeRoute) {
              <button
                mat-icon-button
                [disabled]="disableRefresh"
                (click)="itemSetActive(r[0])"
                matTooltip="Set as Active Route"
                matTooltipPosition="right"
              >
                <mat-icon>near_me</mat-icon>
              </button>
              } @else {
              <button
                mat-icon-button
                [disabled]="disableRefresh"
                (click)="itemClearActive(r[0])"
                matTooltip="Clear Active Route"
                matTooltipPosition="right"
              >
                <mat-icon>clear_all</mat-icon>
              </button>
              }
            </div>
            <div>
              <button
                mat-icon-button
                [disabled]="disableRefresh"
                (click)="itemProperties(r[0])"
                matTooltip="Edit Route Properties"
                matTooltipPosition="right"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
