<div class="resourcelist">
  <mat-card style="border-radius: unset">
    <mat-card-title>
      <div class="title-block">
        <div style="width: 50px">
          <button
            mat-icon-button
            (click)="close()"
            matTooltip="Close Note List"
            matTooltipPosition="right"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div style="flex: 1 1 auto; padding-top: 7px">Notes</div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div style="display: flex">
        <div style="flex: 1 1 auto; padding-left: 3px">
          <mat-form-field floatLabel="always" style="max-width: 170px">
            <mat-label>Type to filter list</mat-label>
            <input
              #ftext
              type="text"
              matInput
              [value]="filterText"
              (keyup)="filterKeyUp(ftext.value)"
            />
            @if(filterText) {
            <button matSuffix mat-icon-button (click)="filterKeyUp('')">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
        </div>
        <div>
          <button
            mat-icon-button
            (click)="itemRefresh()"
            matTooltip="Reload Notes"
            matTooltipPosition="left"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div>
          <button
            mat-icon-button
            [ngClass]="{'icon-primary': draftOnly }"
            (click)="toggleDraftOnly()"
            matTooltip="Show Draft Only"
            matTooltipPosition="left"
          >
            <mat-icon>border_color</mat-icon>
          </button>
        </div>
        <div>
          <mat-checkbox
            [checked]="showNotes"
            (change)="toggleMapDisplay($event.checked)"
            matTooltip="Show Notes on Map"
            matTooltipPosition="left"
          >
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="resources">
    <cdk-virtual-scroll-viewport class="vscroller" itemSize="72">
      <mat-card
        *cdkVirtualFor="let r of filterList; let i= index;"
        style="border-bottom: silver 1px outset; border-radius: unset"
      >
        <mat-card-content>
          <div style="display: flex">
            <div style="flex: 1 1 auto; width: 215px; display: flex">
              <div>
                @if(r[1].properties?.skIcon) {
                <mat-icon
                  [svgIcon]="'sk-' + r[1].properties?.skIcon"
                ></mat-icon>
                } @else {
                <mat-icon class="icon-note icon-accent">local_offer</mat-icon>
                }
              </div>
              <div
                style="
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                &nbsp;<b>{{r[1].name}}</b>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div style="display: flex; width: 100%">
            <div style="text-align: left">
              @if(r[1].properties && r[1].properties.draft) {
              <button
                mat-icon-button
                [disabled]="true"
                matTooltip="Draft"
                matTooltipPosition="right"
              >
                <mat-icon>border_color</mat-icon>
              </button>
              }
            </div>
            <div style="flex: 1 1 auto; text-align: right">
              @if(r[1].group && app.config.resources.notes.groupNameEdit) {
              <button
                mat-icon-button
                (click)="viewNote(r[1].group, true)"
                matTooltip="View Group"
                matTooltipPosition="left"
              >
                <mat-icon>style</mat-icon>
              </button>
              }
              <button
                mat-icon-button
                [disabled]="app.config.map.moveMap"
                (click)="emitCenter(r[1].position)"
                matTooltip="Center Note"
                matTooltipPosition="left"
              >
                <mat-icon>center_focus_strong</mat-icon>
              </button>

              <button
                mat-icon-button
                (click)="viewNote(r[0])"
                matTooltip="View Note"
                matTooltipPosition="left"
              >
                <mat-icon>info_outline</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
