<div style="position: relative; width: 100%;">

    <mat-toolbar style="background-color: transparent;">
        <span><mat-icon>settings</mat-icon></span>
        <span style="flex: 1 1 auto;text-align:center;">Settings</span>
        <span style="text-align:right;">
            <button mat-icon-button (click)="this.dialogRef.close();">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </mat-toolbar>

    <div class="theme-page settings">

        <div class="theme-panel">
            <div>
                <div class="setting-group">
                    <div class="setting-group-title">PLUG-INS</div>
                    <mat-card class="setting-card">
                        <div class="setting-card-row">
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #instruments 
                                            [(value)]="app.config.plugins.instruments" 
                                            (selectionChange)="onFormChange($event, instruments)"
                                            placeholder="Select Instruments App">
                                        <mat-option *ngFor="let i of appList" 
                                                [value]="i.url"
                                                [matTooltip]="i.description"
                                                matTooltipPosition="right">
                                            {{i.name}}
                                        </mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div> 
                        </div>
                        <div class="setting-card-row">
                            <div class="setting-card-row-item">
                                <b>Server Resource Updates:</b>
                                <br>
                                <mat-checkbox #useput color="primary"
                                    [(ngModel)]="app.config.usePUT" 
                                    (change)="onFormChange($event, useput)"
                                    matTooltip="If unchecked Delta Update messages will be used (not recommended)"
                                    label="after">
                                    Use PUT requests (*Recommended)
                                </mat-checkbox>                                        
                            </div>                                                   
                        </div>
                    </mat-card>
                </div>

                <div class="setting-group">
                    <div class="setting-group-title">DISPLAY</div>
                    <mat-card class="setting-card">
                        <div class="setting-card-row" style="padding-bottom: 10px;">
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #distunits 
                                            [(value)]="app.config.units.distance" 
                                            (selectionChange)="onFormChange($event, distunits)"
                                            placeholder="Distance units">
                                        <mat-option *ngFor="let i of distanceUnits" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>                         

                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #headingattrib 
                                            [(value)]="app.config.selections.headingAttribute" 
                                            (selectionChange)="onFormChange($event, headingattrib)"
                                            placeholder="Preferred Heading Value">
                                        <mat-option *ngFor="let i of headingValue" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>  
                            <br>
                            <div class="setting-card-row-item">
                                <mat-checkbox #depthalarm color="primary"
                                    [(ngModel)]="app.config.depthAlarm.enabled" 
                                    (change)="onFormChange($event, depthalarm)"
                                    label="after">
                                    Show DEPTH Alarm Messages
                                </mat-checkbox>                                        
                            </div>                          
                            <div class="setting-card-row-item">
                                <mat-form-field style="width:100%;">
                                    <mat-select #depthsmoothing 
                                            matTooltip="Period of time out of alarm state before re-triggering."
                                            [disabled]="!app.config.depthAlarm.enabled"
                                            [(value)]="app.config.depthAlarm.smoothing" 
                                            (selectionChange)="onFormChange($event, depthsmoothing)"
                                            placeholder="Alarm Smoothing Time">
                                        <mat-option *ngFor="let i of smoothing" [value]="i[0]">{{i[1]}}</mat-option>
                                    </mat-select>                                        
                                </mat-form-field>
                            </div>                        

                        
                        </div>                             
                    </mat-card>
                </div>  

            </div>
        </div>
        
    </div>

</div>
    