on:
  pull_request:
  push:
    branches: [main]
name: Build and Test
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: |
          npm install

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run tests
        env:
          CHROME_BIN: ${{ steps.setup-chrome.outputs.chrome-path }}
        run: |
          npx ng test --watch=false --browsers=ChromeHeadless

      - name: npm run build
        run: |
          npm run build:all
      
